# How does your dataset look like after scraping?

In [74]:
%%bash


head './data/boliga_all.csv'

address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
"Ved Volden 5, 5. TV",1425 K��benhavn K,4000000,23-05-2017,Alm. Salg,43956,3,Lejlighed,91,1938,0
"R��dhusstr��de 4C, 1",1466 K��benhavn K,4895000,18-05-2017,Alm. Salg,46619,3,Lejlighed,105,1796,0
"Store Kongensgade 112A, 3",1264 K��benhavn K,250000,15-05-2017,Andet,1851,2,Lejlighed,135,1860,0
"Amaliegade 13G, 2",1256 K��benhavn K,7375000,15-05-2017,Alm. Salg,75255,3,Lejlighed,98,1948,9
"Borgergade 144, 3. TH",1300 K��benhavn K,5825000,10-05-2017,Alm. Salg,57673,3,Lejlighed,101,1854,3
"N��rre S��gade 9A, 1. TH",1370 K��benhavn K,1126250,10-05-2017,Fam. Salg,10525,3,Lejlighed,107,1882,0
"Wildersgade 22, ST",1408 K��benhavn K,1556700,09-05-2017,Alm. Salg,17689,3,Lejlighed,88,1858,0
"Toldbodgade 10A, 1",1253 K��benhavn K,3750000,08-05-2017,Fam. Salg,20380,5,Lejlighed,184,1862,0
"Andreas Bj��rns Gade 4, 3. TH",1428 K��benhavn K,1700000,05-05-2017,Alm. Salg,31481,2,Lejlighed,54,1901,0

In [75]:
%%bash


wc -l './data/boliga_all.csv'

1385310 ./data/boliga_all.csv

## How to combine many CSV files?

To avoid loops and globbing (https://docs.python.org/3/library/glob.html) in your preprocessing code, you might want to consider combining all CSV files per zipcode area into a single CSV file. The resulting file is ca. 115MB large, which still fits easily into RAM.

In Bash, you can combine all those files for example via:

```bash
(head -1 ./uncomp/boliga_1050-1549.csv; tail -n +2 -q ./uncomp/boliga_*.csv) > boliga_all.csv
```

Try to understand and explain what this line is doing exaclty.

# Pandas Enabling Fast Data Analyzis of Labeled Column-oriented Data

  > **pandas** is a Python package providing fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. ...

  > **pandas** is well suited for many different kinds of data:

  >  * Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
  >  * Ordered and unordered (not necessarily fixed-frequency) time series data.
  >  * Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
  >  * Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure
  >  * The two primary data structures of pandas, `Series` (1-dimensional) and `DataFrame` (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. ...
  > http://pandas.pydata.org/pandas-docs/stable/index.html#
  
  
If you do not like the intro in the following, you can have a look at a ten minutes primer to Pandas: http://pandas.pydata.org/pandas-docs/stable/10min.html

In [113]:
# A CSV file containing all scraped data, the result of assignment number two
complete_data = './data/boliga_all.csv'
# A CSV file containing a subset of the scraped data, 
# which is already geocoded
#zealand_data = './data/boliga_zealand_2000_2005.csv'

As we will refer to Panda's classes and functions often in code, we usually import the module as `pd`.

In [77]:
%matplotlib notebook


import pandas as pd
import matplotlib.pyplot as plt

# Datatpye `Series`

  > `Series` is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
http://pandas.pydata.org/pandas-docs/stable/dsintro.html#series

You can create a `Series` by passing a list of values, letting Pandas create a default integer index.

In [78]:
import pandas as pd


addresses = ['Højager 106', 'Bomosevej 4', 'Kornvej 36', 'Engblommevej 35', 
             'Bakkevej 13', 'Kildebakken 13', 'Østergårdsvej 3', 
             'Bundgarnet 84', 'Vindebyvej 39B', 'Tjørnemarken 31', 
             'Lindegårdsvej 17, 2. TH', 'Forchhammervej 1', 
             'Peder Müllersvej 7', 'Lindegårdsvej 17, 2. TV', 'Kratvej 14',
             'Karen Jeppes Vej 4', 'Åløbet 8', 'Årbygade 21', 
             'Nordre Strandvej 64A', 'Sct Jørgensbjerg 35', 'Østergårdsvej 1', 
             'Vejlegårdsparken 46, ST. TH', 'Ved Skrænten 14', 
             'Lindegårdsvej 17, 1. TH', 'Kornvænget 2']
zip_codes = ['3400 Hillerød', '2970 Hørsholm', '4040 Jyllinge', '3210 Vejby',
             '3630 Jægerspris', '4230 Skælskør', '4700 Næstved', '4780 Stege',
             '2730 Herlev', '4591 Føllenslev', '2920 Charlottenlund', 
             '4500 Nykøbing Sj', '3300 Frederiksværk', '2920 Charlottenlund', 
             '3660 Stenløse', '4653 Karise', '4573 Højby', '4400 Kalundborg', 
             '3220 Tisvildeleje', '4400 Kalundborg', '4700 Næstved', 
             '2665 Vallensbæk Strand', '3250 Gilleleje', 
             '2920 Charlottenlund', '3660 Stenløse']
prices = [730000, 900000, 703125, 172585, 310000, 1000000, 315000, 420000,
          599560, 144000, 285000, 180000, 2075000, 570000, 400000, 247000, 
          169000, 331608, 2000000, 600000, 1035000, 726072, 892500, 570000, 
          160000]

addr_series = pd.Series(addresses)
addr_series

0                     Højager 106
1                     Bomosevej 4
2                      Kornvej 36
3                 Engblommevej 35
4                     Bakkevej 13
5                  Kildebakken 13
6                 Østergårdsvej 3
7                   Bundgarnet 84
8                  Vindebyvej 39B
9                 Tjørnemarken 31
10        Lindegårdsvej 17, 2. TH
11               Forchhammervej 1
12             Peder Müllersvej 7
13        Lindegårdsvej 17, 2. TV
14                     Kratvej 14
15             Karen Jeppes Vej 4
16                       Åløbet 8
17                    Årbygade 21
18           Nordre Strandvej 64A
19            Sct Jørgensbjerg 35
20                Østergårdsvej 1
21    Vejlegårdsparken 46, ST. TH
22                Ved Skrænten 14
23        Lindegårdsvej 17, 1. TH
24                   Kornvænget 2
dtype: object

In [79]:
zip_series = pd.Series(zip_codes)
prices_series = pd.Series(prices)

print(zip_series)
print(prices_series)

0              3400 Hillerød
1              2970 Hørsholm
2              4040 Jyllinge
3                 3210 Vejby
4            3630 Jægerspris
5              4230 Skælskør
6               4700 Næstved
7                 4780 Stege
8                2730 Herlev
9            4591 Føllenslev
10       2920 Charlottenlund
11          4500 Nykøbing Sj
12        3300 Frederiksværk
13       2920 Charlottenlund
14             3660 Stenløse
15               4653 Karise
16                4573 Højby
17           4400 Kalundborg
18         3220 Tisvildeleje
19           4400 Kalundborg
20              4700 Næstved
21    2665 Vallensbæk Strand
22            3250 Gilleleje
23       2920 Charlottenlund
24             3660 Stenløse
dtype: object
0      730000
1      900000
2      703125
3      172585
4      310000
5     1000000
6      315000
7      420000
8      599560
9      144000
10     285000
11     180000
12    2075000
13     570000
14     400000
15     247000
16     169000
17     331608
18    2000000
19     600000
20    1035000
21     726072
22     892500
23     570000
24     160000
dtype: int64

# Datatpye `DataFrame`


  > `DataFrame` is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe
  
  
## Creating `DataFrame`s out of Lists

In [80]:
import pandas as pd


addresses = ['Højager 106', 'Bomosevej 4', 'Kornvej 36', 'Engblommevej 35', 
             'Bakkevej 13', 'Kildebakken 13', 'Østergårdsvej 3', 
             'Bundgarnet 84', 'Vindebyvej 39B', 'Tjørnemarken 31', 
             'Lindegårdsvej 17, 2. TH', 'Forchhammervej 1', 
             'Peder Müllersvej 7', 'Lindegårdsvej 17, 2. TV', 'Kratvej 14',
             'Karen Jeppes Vej 4', 'Åløbet 8', 'Årbygade 21', 
             'Nordre Strandvej 64A', 'Sct Jørgensbjerg 35', 'Østergårdsvej 1', 
             'Vejlegårdsparken 46, ST. TH', 'Ved Skrænten 14', 
             'Lindegårdsvej 17, 1. TH', 'Kornvænget 2']
zip_codes = ['3400 Hillerød', '2970 Hørsholm', '4040 Jyllinge', '3210 Vejby',
             '3630 Jægerspris', '4230 Skælskør', '4700 Næstved', '4780 Stege',
             '2730 Herlev', '4591 Føllenslev', '2920 Charlottenlund', 
             '4500 Nykøbing Sj', '3300 Frederiksværk', '2920 Charlottenlund', 
             '3660 Stenløse', '4653 Karise', '4573 Højby', '4400 Kalundborg', 
             '3220 Tisvildeleje', '4400 Kalundborg', '4700 Næstved', 
             '2665 Vallensbæk Strand', '3250 Gilleleje', 
             '2920 Charlottenlund', '3660 Stenløse']
prices = [730000, 900000, 703125, 172585, 310000, 1000000, 315000, 420000,
          599560, 144000, 285000, 180000, 2075000, 570000, 400000, 247000, 
          169000, 331608, 2000000, 600000, 1035000, 726072, 892500, 570000, 
          160000]

df = pd.DataFrame({'address': addresses, 'zip_code': zip_codes, 'price': prices}, 
                  columns=['address', 'zip_code', 'price'])
df.head()

           address         zip_code   price
0      Højager 106    3400 Hillerød  730000
1      Bomosevej 4    2970 Hørsholm  900000
2       Kornvej 36    4040 Jyllinge  703125
3  Engblommevej 35       3210 Vejby  172585
4      Bakkevej 13  3630 Jægerspris  310000

## Creating `DataFrame`s out of `Series`

In [81]:
df = pd.DataFrame({'address': addr_series, 'zip_code': zip_series, 'price': prices_series}, 
                  columns=['address', 'zip_code', 'price'])
df.head()

           address         zip_code   price
0      Højager 106    3400 Hillerød  730000
1      Bomosevej 4    2970 Hørsholm  900000
2       Kornvej 36    4040 Jyllinge  703125
3  Engblommevej 35       3210 Vejby  172585
4      Bakkevej 13  3630 Jægerspris  310000

In [ ]:
import numpy as np


df = pd.DataFrame(np.array([addr_series, zip_series, prices_series]).T, 
                  columns=['address', 'zip_code', 'price'])
df.head()

### Hov, what was that? `.T`?

In the example above you are using `numpy` to transpose the matrix that you are creating with the expression `np.array([addr_series, zip_series, prices_series])`. Check what happens if you do not do this:

In [82]:
df = pd.DataFrame([addr_series, zip_series, prices_series])
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Højager 106,Bomosevej 4,Kornvej 36,Engblommevej 35,Bakkevej 13,Kildebakken 13,Østergårdsvej 3,Bundgarnet 84,Vindebyvej 39B,Tjørnemarken 31,...,Karen Jeppes Vej 4,Åløbet 8,Årbygade 21,Nordre Strandvej 64A,Sct Jørgensbjerg 35,Østergårdsvej 1,"Vejlegårdsparken 46, ST. TH",Ved Skrænten 14,"Lindegårdsvej 17, 1. TH",Kornvænget 2
1,3400 Hillerød,2970 Hørsholm,4040 Jyllinge,3210 Vejby,3630 Jægerspris,4230 Skælskør,4700 Næstved,4780 Stege,2730 Herlev,4591 Føllenslev,...,4653 Karise,4573 Højby,4400 Kalundborg,3220 Tisvildeleje,4400 Kalundborg,4700 Næstved,2665 Vallensbæk Strand,3250 Gilleleje,2920 Charlottenlund,3660 Stenløse
2,730000,900000,703125,172585,310000,1000000,315000,420000,599560,144000,...,247000,169000,331608,2000000,600000,1035000,726072,892500,570000,160000

# Reading data into `DataFrames` directly from CSV files

Now, we use Pandas' `read_csv` function to read the downloaded CSV file directly. 

Note, in case you have a CSV file, which contains additional information preceding the header line you can skip those rows with the keyword argument `skiprows=`.

Reading the CSV file with `read_csv` returns a DataFrame directly.

In [114]:
import pandas as pd


df = pd.read_csv(complete_data)
df.head()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
0,"Ved Volden 5, 5. TV",1425 København K,4000000,23-05-2017,Alm. Salg,43956.0,3.0,Lejlighed,91.0,1938.0,0.0
1,"Rådhusstræde 4C, 1",1466 København K,4895000,18-05-2017,Alm. Salg,46619.0,3.0,Lejlighed,105.0,1796.0,0.0
2,"Store Kongensgade 112A, 3",1264 København K,250000,15-05-2017,Andet,1851.0,2.0,Lejlighed,135.0,1860.0,0.0
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0

# Inspecting a `DataFrame`

Similar as on the command-line, you can inspect the `head` and `tail` of a `DataFrame` with the corresponding methods.

In [115]:
df.head()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
0,"Ved Volden 5, 5. TV",1425 København K,4000000,23-05-2017,Alm. Salg,43956.0,3.0,Lejlighed,91.0,1938.0,0.0
1,"Rådhusstræde 4C, 1",1466 København K,4895000,18-05-2017,Alm. Salg,46619.0,3.0,Lejlighed,105.0,1796.0,0.0
2,"Store Kongensgade 112A, 3",1264 København K,250000,15-05-2017,Andet,1851.0,2.0,Lejlighed,135.0,1860.0,0.0
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0

In [116]:
df.tail()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
1385304,Tranevej 68A,9990 Skagen,225000,15-01-1992,Alm. Salg,1785.0,5.0,Sommerhus,126.0,1993.0,0.0
1385305,Middelbanke 29,9990 Skagen,545000,14-01-1992,Fam. Salg,5093.0,4.0,Villa,107.0,1974.0,0.0
1385306,"Chr. Xs Vej 51, 1",9990 Skagen,3600000,14-01-1992,Alm. Salg,24000.0,5.0,Anden beboelse,150.0,1965.0,0.0
1385307,Høgenhaug 5,9990 Skagen,500000,08-01-1992,Fam. Salg,4310.0,5.0,Villa,116.0,1977.0,0.0
1385308,Krøyersvej 12B,9990 Skagen,69250,08-01-1992,Alm. Salg,814.0,3.0,Villa,85.0,1911.0,0.0

A summary containing the header, column types, and the size in memory of a `DataFrame` can be printed with the `info` method.

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385309 entries, 0 to 1385308
Data columns (total 11 columns):
address                 1385309 non-null object
zip_code                1385309 non-null object
price                   1385309 non-null int64
sell_date               1385309 non-null object
sell_type               1385309 non-null object
price_per_sq_m          1302916 non-null float64
no_rooms                1385006 non-null float64
housing_type            1385309 non-null object
size_in_sq_m            1384816 non-null float64
year_of_construction    1385045 non-null float64
price_change_in_pct     1385308 non-null float64
dtypes: float64(5), int64(1), object(5)
memory usage: 116.3+ MB

And a bit of summarizing statistics of your `DataFrame` can be inspected with the `describe` method.

In [118]:
df.describe()

,price,price_per_sq_m,no_rooms,size_in_sq_m,year_of_construction,price_change_in_pct
count,1.385309e+06,1.302916e+06,1.385006e+06,1.384816e+06,1.385045e+06,1.385308e+06
mean,1.521740e+06,1.354820e+04,4.371582e+00,1.267685e+02,1.953277e+03,2.192439e+03
std,1.896178e+06,1.859362e+04,1.822378e+00,5.593987e+01,4.352865e+01,1.121387e+06
min,5.001000e+03,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+03,-1.000000e+02
25%,6.154700e+05,5.529000e+03,3.000000e+00,8.700000e+01,1.930000e+03,-1.000000e+00
50%,1.098000e+06,9.913000e+03,4.000000e+00,1.210000e+02,1.964000e+03,0.000000e+00
75%,1.863361e+06,1.758900e+04,5.000000e+00,1.570000e+02,1.979000e+03,0.000000e+00
max,7.923700e+07,2.650000e+06,4.650000e+02,5.363000e+03,2.017000e+03,1.070000e+09

Since visual inspection of numerical data is often more effective, you can plot `Series` and `DataFrames` directly. We will see more on plotting later and in the next session.

In [119]:
%matplotlib notebook


df['price_per_sq_m'].plot()

In [120]:
%matplotlib notebook


cols = ['no_rooms', 'price_per_sq_m']
df[cols].plot(kind='scatter', 
              x='price_per_sq_m',
              y='no_rooms')

# Selection of Data in a `DataFrame`

## Selection by Column Name

In [121]:
df['address']

0                    Ved Volden 5, 5. TV
1                     Rådhusstræde 4C, 1
2              Store Kongensgade 112A, 3
3                      Amaliegade 13G, 2
4                  Borgergade 144, 3. TH
5                 Nørre Søgade 9A, 1. TH
6                     Wildersgade 22, ST
7                     Toldbodgade 10A, 1
8           Andreas Bjørns Gade 4, 3. TH
9                     Sølvgade 15, 4. TH
10                     Linnésgade 16A, 1
11          Store Kongensgade 63A, ST. 4
12           Peder Skrams Gade 28, 2. TV
13                Brobergsgade 14, 1. TV
14                    Sølvgade 13, 2. TV
15                  Ny Adelgade 9, 2. TH
16               Lavendelstræde 9, 2. TV
17                       Åbenrå 10, 2. 5
18                  Grønnegade 31, 3. TV
19                   Badstuestræde 16, 2
20                  Nørre Voldgade 70, 4
21               Fredericiagade 25, 5. 1
22                    Sølvgade 19, 2. MF
23         David Balfours Gade 3, ST. TV
24              Vimmelskaftet 36A, 3. TH
25         Store Kongensgade 110C, 3. TV
26         Andreas Bjørns Gade 10, 3. TV
27                      Grønnegade 31, 4
28           Peder Skrams Gade 27, 3. TH
29         Andreas Bjørns Gade 22, 3. TH
                       ...
1385279                   Chr. Xs Vej 79
1385280               Østre Strandvej 93
1385281                        Rylevej 2
1385282             Jens Winthers Vej 17
1385283                    Sønderklit 38
1385284                   Fabriciusvej 3
1385285                     Skagbanke 35
1385286                      Vesterled 4
1385287                      Ydunsvej 19
1385288                   Fiskerbanke 23
1385289                   Redningsvej 58
1385290                       Oddevej 23
1385291           Sct. Laurentii Vej 121
1385292              Østre Strandvej 35A
1385293                     Skarpæsvej 8
1385294                     Ryttervej 36
1385295                   Doggerbanke 74
1385296                   Doggerbanke 15
1385297          Dr. Alexandrines Vej 52
1385298                    Ankermedet 51
1385299                     Kæruldvej 39
1385300                    Spliidsvej 39
1385301                       Østerled 1
1385302                  Nedre Mosevej 7
1385303                   Karredvænget 6
1385304                     Tranevej 68A
1385305                   Middelbanke 29
1385306                Chr. Xs Vej 51, 1
1385307                      Høgenhaug 5
1385308                   Krøyersvej 12B
Name: address, Length: 1385309, dtype: object

The upper line is equivalent with using the column name in dot notation.

In [122]:
df.address

0                    Ved Volden 5, 5. TV
1                     Rådhusstræde 4C, 1
2              Store Kongensgade 112A, 3
3                      Amaliegade 13G, 2
4                  Borgergade 144, 3. TH
5                 Nørre Søgade 9A, 1. TH
6                     Wildersgade 22, ST
7                     Toldbodgade 10A, 1
8           Andreas Bjørns Gade 4, 3. TH
9                     Sølvgade 15, 4. TH
10                     Linnésgade 16A, 1
11          Store Kongensgade 63A, ST. 4
12           Peder Skrams Gade 28, 2. TV
13                Brobergsgade 14, 1. TV
14                    Sølvgade 13, 2. TV
15                  Ny Adelgade 9, 2. TH
16               Lavendelstræde 9, 2. TV
17                       Åbenrå 10, 2. 5
18                  Grønnegade 31, 3. TV
19                   Badstuestræde 16, 2
20                  Nørre Voldgade 70, 4
21               Fredericiagade 25, 5. 1
22                    Sølvgade 19, 2. MF
23         David Balfours Gade 3, ST. TV
24              Vimmelskaftet 36A, 3. TH
25         Store Kongensgade 110C, 3. TV
26         Andreas Bjørns Gade 10, 3. TV
27                      Grønnegade 31, 4
28           Peder Skrams Gade 27, 3. TH
29         Andreas Bjørns Gade 22, 3. TH
                       ...
1385279                   Chr. Xs Vej 79
1385280               Østre Strandvej 93
1385281                        Rylevej 2
1385282             Jens Winthers Vej 17
1385283                    Sønderklit 38
1385284                   Fabriciusvej 3
1385285                     Skagbanke 35
1385286                      Vesterled 4
1385287                      Ydunsvej 19
1385288                   Fiskerbanke 23
1385289                   Redningsvej 58
1385290                       Oddevej 23
1385291           Sct. Laurentii Vej 121
1385292              Østre Strandvej 35A
1385293                     Skarpæsvej 8
1385294                     Ryttervej 36
1385295                   Doggerbanke 74
1385296                   Doggerbanke 15
1385297          Dr. Alexandrines Vej 52
1385298                    Ankermedet 51
1385299                     Kæruldvej 39
1385300                    Spliidsvej 39
1385301                       Østerled 1
1385302                  Nedre Mosevej 7
1385303                   Karredvænget 6
1385304                     Tranevej 68A
1385305                   Middelbanke 29
1385306                Chr. Xs Vej 51, 1
1385307                      Høgenhaug 5
1385308                   Krøyersvej 12B
Name: address, Length: 1385309, dtype: object

You can select a subset of columns, by passing their names in a collection.

In [123]:
df[['address', 'zip_code', 'no_rooms']].head()

                     address          zip_code  no_rooms
0        Ved Volden 5, 5. TV  1425 København K       3.0
1         Rådhusstræde 4C, 1  1466 København K       3.0
2  Store Kongensgade 112A, 3  1264 København K       2.0
3          Amaliegade 13G, 2  1256 København K       3.0
4      Borgergade 144, 3. TH  1300 København K       3.0

## Selection by Indexes

In the following we index the third row directly.

In [124]:
df.iloc[3]

address                 Amaliegade 13G, 2
zip_code                 1256 København K
price                             7375000
sell_date                      15-05-2017
sell_type                       Alm. Salg
price_per_sq_m                      75255
no_rooms                                3
housing_type                    Lejlighed
size_in_sq_m                           98
year_of_construction                 1948
price_change_in_pct                     9
Name: 3, dtype: object

You can use fancy-indexing too:

In [125]:
df.iloc[3:5]

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0

In [126]:
df.iloc[3:5, 4:-1:3]

   sell_type housing_type
3  Alm. Salg    Lejlighed
4  Alm. Salg    Lejlighed

In case you want to refer to elements not by position as above but by their label-location you can use the `loc` method instead.

In [127]:
df.loc[3:5]

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0
5,"Nørre Søgade 9A, 1. TH",1370 København K,1126250,10-05-2017,Fam. Salg,10525.0,3.0,Lejlighed,107.0,1882.0,0.0

# Boolean Indexing

You can use boolean arrays for indexing too. That is, you can use boolean expressions directly for indexing and you will receive all those elements for which the expression evaluates to `True`.

In the following we assign `df_bolig_zealand` to `df` as the latter is shorter and makes the programs more readable.

In [128]:
df[df['zip_code'] == '2200 København N']

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
87618,"Schleppegrellsgade 10, ST. TV",2200 København N,4395000,24-05-2017,Alm. Salg,47771.0,4.0,Lejlighed,92.0,1892.0,0.0
87619,"Blågårdsgade 26, 3. 23",2200 København N,1160000,23-05-2017,Fam. Salg,19661.0,1.0,Lejlighed,59.0,1972.0,0.0
87620,"Sortedam Dossering 41D, 4. TV",2200 København N,2000000,22-05-2017,Fam. Salg,33333.0,2.0,Lejlighed,60.0,1963.0,0.0
87621,"Gormsgade 6, 1. 6",2200 København N,1357000,19-05-2017,Fam. Salg,15779.0,3.0,Lejlighed,86.0,1965.0,0.0
87622,"Egegade 10, 5. TV",2200 København N,1318000,17-05-2017,Fam. Salg,25346.0,2.0,Lejlighed,52.0,1893.0,0.0
87623,"Rådmandsgade 40B, 4. TH",2200 København N,1825000,17-05-2017,Alm. Salg,33796.0,2.0,Lejlighed,54.0,1899.0,-4.0
87624,"Bjelkes Allé 37, 1",2200 København N,2380000,09-05-2017,Alm. Salg,14512.0,6.0,Lejlighed,164.0,1884.0,0.0
87625,"Sandbjerggade 54, 2. TH",2200 København N,1725000,07-05-2017,Alm. Salg,39204.0,2.0,Lejlighed,44.0,1935.0,-7.0
87626,"Rådmandsgade 40C, 1. 83",2200 København N,561000,05-05-2017,Fam. Salg,12750.0,1.0,Lejlighed,44.0,1967.0,0.0
87627,"Poppelgade 1, 1. TH",2200 København N,1860000,04-05-2017,Alm. Salg,41333.0,2.0,Lejlighed,45.0,1886.0,-7.0
87628,"Baldersgade 39, 1. TH",2200 København N,3900000,03-05-2017,Alm. Salg,43333.0,4.0,Lejlighed,90.0,1906.0,-2.0
87629,"Birkegade 15, 3. TH",2200 København N,1437500,03-05-2017,Fam. Salg,27644.0,2.0,Lejlighed,52.0,1892.0,0.0
87630,"Vølundsgade 22, 4. TV",2200 København N,1900000,02-05-2017,Alm. Salg,32758.0,2.0,Lejlighed,58.0,1907.0,0.0
87631,"Krogerupgade 51, 2. TH",2200 København N,1046532,01-05-2017,Fam. Salg,19745.0,2.0,Lejlighed,53.0,1935.0,0.0
87632,"Sigynsgade 44, ST. TV",2200 København N,892500,01-05-2017,Fam. Salg,14875.0,1.0,Lejlighed,60.0,1991.0,0.0
87633,"Tagensvej 56, 3. TH",2200 København N,1440000,27-04-2017,Fam. Salg,21176.0,3.0,Lejlighed,68.0,1933.0,0.0
87634,"Kronborggade 8, 2. TH",2200 København N,3500000,27-04-2017,Alm. Salg,50000.0,3.0,Lejlighed,70.0,1899.0,-5.0
87635,"Hamletsgade 8, 3. 119",2200 København N,1935000,26-04-2017,Alm. Salg,29769.0,2.0,Lejlighed,65.0,1975.0,-3.0
87636,"Møllegade 34, 4. TV",2200 København N,1700000,26-04-2017,Fam. Salg,21518.0,3.0,Lejlighed,79.0,1901.0,0.0
87637,"Hamletsgade 30, ST. TV",2200 København N,2100000,25-04-2017,Alm. Salg,21875.0,3.0,Lejlighed,96.0,1938.0,-8.0
87638,"Heimdalsgade 42, 2. 21",2200 København N,1365000,25-04-2017,Alm. Salg,27300.0,1.0,Lejlighed,50.0,1975.0,-2.0
87639,"Peblinge Dossering 20, 1. TH",2200 København N,1657500,25-04-2017,Fam. Salg,23345.0,3.0,Lejlighed,71.0,1886.0,0.0
87640,"Griffenfeldsgade 43, 3",2200 København N,3710000,23-04-2017,Alm. Salg,31982.0,3.0,Lejlighed,116.0,1880.0,3.0
87641,"Lundtoftegade 84, 4. TH",2200 København N,3250000,23-04-2017,Alm. Salg,37790.0,3.0,Lejlighed,86.0,1907.0,-6.0
87642,"Peter Fabers Gade 36, 5. TV",2200 København N,900000,23-04-2017,Fam. Salg,21428.0,2.0,Lejlighed,42.0,1883.0,0.0
87643,"Heimdalsgade 42, 3. 30",2200 København N,605000,21-04-2017,Andet,12604.0,1.0,Lejlighed,48.0,1975.0,0.0
87644,"Uffesgade 10, ST. TH",2200 København N,1875000,21-04-2017,Alm. Salg,35377.0,2.0,Lejlighed,53.0,1901.0,-3.0
87645,"Rådmandsgade 40C, 4. 127",2200 København N,1207000,21-04-2017,Fam. Salg,17242.0,3.0,Lejlighed,70.0,1967.0,0.0
87646,"Egegade 2, 2. TH",2200 København N,257500,20-04-2017,Fam. Salg,3301.0,3.0,Lejlighed,78.0,1884.0,0.0
87647,"Rådmandsgade 40C, ST. 80",2200 København N,2350000,19-04-2017,Alm. Salg,31756.0,3.0,Lejlighed,74.0,1967.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
146183,"Bjelkes Allé 4, 2. 7",2200 København N,170000,26-04-1993,Alm. Salg,2881.0,1.0,Lejlighed,59.0,1970.0,0.0
146184,"Rantzausgade 11, 7. 37",2200 København N,759800,21-04-1993,Alm. Salg,5935.0,4.0,Lejlighed,128.0,1970.0,0.0
146185,"Hamletsgade 4, 1. 143",2200 København N,310000,19-04-1993,Alm. Salg,4366.0,2.0,Lejlighed,71.0,1975.0,0.0
146186,"Rådmandsgade 56, 1",2200 København N,950000,17-03-1993,Alm. Salg,14393.0,4.0,Lejlighed,66.0,1930.0,0.0
146187,"Fenrisgade 1, 5. TV",2200 København N,309350,22-02-1993,Alm. Salg,4833.0,2.0,Lejlighed,64.0,1934.0,0.0
146188,"Peblinge Dossering 28, 3. TV",2200 København N,690000,15-02-1993,Alm. Salg,8414.0,3.0,Lejlighed,82.0,1880.0,0.0
146189,"Ægirsgade 18, 3. TV",2200 København N,320000,11-01-1993,Alm. Salg,5079.0,2.0,Lejlighed,63.0,1903.0,0.0
146190,"Ægirsgade 68, 1. TV",2200 København N,172500,05-01-1993,Alm. Salg,NaN,2.0,Lejlighed,58.0,1902.0,0.0
146191,"Julius Bloms Gade 6, 5. 8",2200 København N,50000,09-12-1992,Alm. Salg,1851.0,1.0,Lejlighed,27.0,1908.0,0.0
146192,"Sankt Hans Gade 4A, 5. TH",2200 København N,567000,07-12-1992,Alm. Salg,8859.0,2.0,Lejlighed,64.0,1893.0,0.0
146193,"Hamletsgade 17, 3. TV",2200 København N,330000,04-11-1992,Alm. Salg,5789.0,2.0,Lejlighed,57.0,1947.0,0.0
146194,"Læssøesgade 25, 1. TH",2200 København N,276049,03-10-1992,Alm. Salg,2244.0,4.0,Lejlighed,123.0,1868.0,0.0
146195,"Åboulevard 60, 3. TH",2200 København N,533450,01-10-1992,Alm. Salg,3441.0,6.0,Lejlighed,155.0,1903.0,0.0
146196,"Rådmandsgade 46A, 2. TH",2200 København N,435000,25-08-1992,Alm. Salg,4027.0,4.0,Lejlighed,108.0,1933.0,0.0
146197,"Nørrebrogade 229, 4. TH",2200 København N,150000,12-08-1992,Alm. Salg,NaN,3.0,Lejlighed,58.0,1896.0,0.0
146198,"Holtegade 12, 4. TV",2200 København N,324220,15-07-1992,Alm. Salg,4631.0,2.0,Lejlighed,70.0,1932.0,0.0
146199,"Sankt Hans Gade 28, 3",2200 København N,559990,14-07-1992,Alm. Salg,5490.0,4.0,Lejlighed,102.0,1883.0,0.0
146200,"Husumgade 10, ST. TV",2200 København N,142500,09-07-1992,Alm. Salg,1759.0,3.0,Lejlighed,81.0,1904.0,0.0
146201,"Ravnsborg Tværgade 2, 3",2200 København N,445400,22-06-1992,Alm. Salg,4454.0,3.0,Lejlighed,100.0,1869.0,0.0
146202,"Griffenfeldsgade 43, ST",2200 København N,22000,30-05-1992,Fam. Salg,159.0,4.0,Lejlighed,138.0,1880.0,0.0
146203,"Nørre Allé 11A, ST. TV",2200 København N,390000,26-05-1992,Alm. Salg,5064.0,2.0,Lejlighed,77.0,1900.0,0.0
146204,"Korsgade 24, 5. TV",2200 København N,325000,12-05-1992,Alm. Salg,4850.0,3.0,Lejlighed,67.0,1872.0,0.0
146205,"Lundtoftegade 95, ST. TH",2200 København N,245000,11-05-1992,Alm. Salg,6447.0,3.0,Detailhandel,38.0,1930.0,0.0
146206,"Florsgade 7, 4. TH",2200 København N,570300,30-04-1992,Alm. Salg,5940.0,3.0,Lejlighed,96.0,1905.0,0.0
146207,"Griffenfeldsgade 8, 5. TH",2200 København N,640000,02-04-1992,Alm. Salg,5925.0,5.0,Lejlighed,108.0,1890.0,0.0
146208,"Hamletsgade 28, 4. TH",2200 København N,294600,30-03-1992,Alm. Salg,5356.0,2.0,Lejlighed,55.0,1938.0,0.0
146209,"Husumgade 12, 3. TH",2200 København N,398000,11-03-1992,Alm. Salg,5168.0,3.0,Lejlighed,77.0,1904.0,0.0
146210,"Husumgade 10, 4. TH",2200 København N,435000,16-02-1992,Alm. Salg,5178.0,3.0,Lejlighed,84.0,1904.0,0.0
146211,"Nørrebrogade 229, 3. TV",2200 København N,272698,16-01-1992,Alm. Salg,NaN,2.0,Lejlighed,50.0,1896.0,0.0
146212,"Peter Fabers Gade 41, 2. TH",2200 København N,250000,04-01-1992,Alm. Salg,5000.0,2.0,Lejlighed,50.0,1895.0,0.0

In [129]:
df[(df['zip_code'] == '2100 København Ø') | 
   (df['zip_code'] == '2200 København N')]

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
51353,"Petersborgvej 6, 3. 3",2100 København Ø,2600000,22-05-2017,Alm. Salg,41269.0,2.0,Lejlighed,63.0,1976.0,-2.0
51354,"Marstalsgade 49, 5. TH",2100 København Ø,1675000,18-05-2017,Fam. Salg,30454.0,2.0,Lejlighed,55.0,1904.0,0.0
51355,"Præstøgade 16, ST. TV",2100 København Ø,1845000,16-05-2017,Alm. Salg,31271.0,3.0,Lejlighed,59.0,1899.0,0.0
51356,"Rosenvængets Allé 36, ST. TH",2100 København Ø,12450000,15-05-2017,Alm. Salg,73668.0,6.0,Lejlighed,169.0,2009.0,0.0
51357,"Nordborggade 11, 3. TV",2100 København Ø,5920000,15-05-2017,Alm. Salg,48130.0,4.0,Lejlighed,123.0,1894.0,0.0
51358,"Nordre Frihavnsgade 84, 5. TV",2100 København Ø,2400000,13-05-2017,Fam. Salg,23300.0,5.0,Lejlighed,103.0,1892.0,0.0
51359,"Venøgade 26, 1. TV",2100 København Ø,1900000,11-05-2017,Fam. Salg,20212.0,4.0,Lejlighed,94.0,2007.0,0.0
51360,"Gustav Adolfs Gade 10, 3. TV",2100 København Ø,6598000,11-05-2017,Alm. Salg,49984.0,4.0,Lejlighed,132.0,1904.0,0.0
51361,"Marstalsgade 31, 2. TV",2100 København Ø,2015000,11-05-2017,Fam. Salg,35982.0,2.0,Lejlighed,56.0,1903.0,0.0
51362,"Lyngbyvej 32C, 3. MF",2100 København Ø,1265000,08-05-2017,Fam. Salg,19765.0,1.0,Lejlighed,64.0,1972.0,0.0
51363,Rudolph Berghs Gade 26,2100 København Ø,3060000,08-05-2017,Fam. Salg,18545.0,6.0,Rækkehus,165.0,1921.0,0.0
51364,"Amerika Plads 26B, 4. 1",2100 København Ø,6200000,08-05-2017,Alm. Salg,42176.0,4.0,Lejlighed,147.0,2006.0,-3.0
51365,"Strandboulevarden 20, 3. TH",2100 København Ø,2601000,08-05-2017,Fam. Salg,21857.0,4.0,Lejlighed,119.0,1931.0,0.0
51366,"Rosbæksvej 1, ST. TH",2100 København Ø,5105000,07-05-2017,Alm. Salg,32724.0,5.0,Lejlighed,156.0,1951.0,-7.0
51367,"Malmøgade 10, 2. TH",2100 København Ø,7995000,06-05-2017,Alm. Salg,42526.0,6.0,Lejlighed,188.0,1898.0,0.0
51368,"Østbanegade 11, 4. TV",2100 København Ø,7300000,05-05-2017,Alm. Salg,47096.0,5.0,Lejlighed,155.0,1905.0,0.0
51369,"Bogensegade 11, 5. TH",2100 København Ø,1742500,05-05-2017,Fam. Salg,19361.0,4.0,Lejlighed,90.0,1904.0,0.0
51370,"Petersborgvej 6, 2. 1",2100 København Ø,1300000,05-05-2017,Alm. Salg,22807.0,2.0,Lejlighed,57.0,1976.0,0.0
51371,"Østerbrogade 132, 1. TH",2100 København Ø,2768265,03-05-2017,Alm. Salg,11345.0,7.0,Lejlighed,244.0,1889.0,0.0
51372,"Strandboulevarden 104, 2. TH",2100 København Ø,2600000,03-05-2017,Fam. Salg,23853.0,3.0,Lejlighed,109.0,1904.0,0.0
51373,"Dampfærgevej 14, ST. 4",2100 København Ø,4795000,02-05-2017,Alm. Salg,43198.0,3.0,Lejlighed,111.0,2002.0,-2.0
51374,"Løgstørgade 36, 5",2100 København Ø,4095000,02-05-2017,Alm. Salg,40950.0,3.0,Lejlighed,100.0,1915.0,-11.0
51375,"Nygårdsvej 53, 2. TV",2100 København Ø,2495000,02-05-2017,Alm. Salg,37238.0,3.0,Lejlighed,67.0,1964.0,0.0
51376,"Holsteinsgade 66, 3. 6",2100 København Ø,1250000,02-05-2017,Fam. Salg,22321.0,2.0,Lejlighed,56.0,1978.0,0.0
51377,"Århusgade 16, 1. TV",2100 København Ø,2355000,02-05-2017,Alm. Salg,45288.0,2.0,Lejlighed,52.0,1901.0,-2.0
51378,"Strandboulevarden 145, ST. TV",2100 København Ø,3585000,01-05-2017,Alm. Salg,33504.0,4.0,Lejlighed,107.0,1904.0,-3.0
51379,H.P. Ørums Gade 15,2100 København Ø,2150000,01-05-2017,Andet,13271.0,6.0,Rækkehus,162.0,1908.0,0.0
51380,"Rothesgade 4, 1. TV",2100 København Ø,4625000,30-04-2017,Alm. Salg,49202.0,3.0,Lejlighed,94.0,1904.0,-1.0
51381,"Herninggade 21, 1. TH",2100 København Ø,2500000,30-04-2017,Alm. Salg,39062.0,2.0,Lejlighed,64.0,1935.0,0.0
51382,"Viborggade 38, 4. TV",2100 København Ø,1890000,28-04-2017,Alm. Salg,41086.0,2.0,Lejlighed,46.0,1885.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...
146183,"Bjelkes Allé 4, 2. 7",2200 København N,170000,26-04-1993,Alm. Salg,2881.0,1.0,Lejlighed,59.0,1970.0,0.0
146184,"Rantzausgade 11, 7. 37",2200 København N,759800,21-04-1993,Alm. Salg,5935.0,4.0,Lejlighed,128.0,1970.0,0.0
146185,"Hamletsgade 4, 1. 143",2200 København N,310000,19-04-1993,Alm. Salg,4366.0,2.0,Lejlighed,71.0,1975.0,0.0
146186,"Rådmandsgade 56, 1",2200 København N,950000,17-03-1993,Alm. Salg,14393.0,4.0,Lejlighed,66.0,1930.0,0.0
146187,"Fenrisgade 1, 5. TV",2200 København N,309350,22-02-1993,Alm. Salg,4833.0,2.0,Lejlighed,64.0,1934.0,0.0
146188,"Peblinge Dossering 28, 3. TV",2200 København N,690000,15-02-1993,Alm. Salg,8414.0,3.0,Lejlighed,82.0,1880.0,0.0
146189,"Ægirsgade 18, 3. TV",2200 København N,320000,11-01-1993,Alm. Salg,5079.0,2.0,Lejlighed,63.0,1903.0,0.0
146190,"Ægirsgade 68, 1. TV",2200 København N,172500,05-01-1993,Alm. Salg,NaN,2.0,Lejlighed,58.0,1902.0,0.0
146191,"Julius Bloms Gade 6, 5. 8",2200 København N,50000,09-12-1992,Alm. Salg,1851.0,1.0,Lejlighed,27.0,1908.0,0.0
146192,"Sankt Hans Gade 4A, 5. TH",2200 København N,567000,07-12-1992,Alm. Salg,8859.0,2.0,Lejlighed,64.0,1893.0,0.0
146193,"Hamletsgade 17, 3. TV",2200 København N,330000,04-11-1992,Alm. Salg,5789.0,2.0,Lejlighed,57.0,1947.0,0.0
146194,"Læssøesgade 25, 1. TH",2200 København N,276049,03-10-1992,Alm. Salg,2244.0,4.0,Lejlighed,123.0,1868.0,0.0
146195,"Åboulevard 60, 3. TH",2200 København N,533450,01-10-1992,Alm. Salg,3441.0,6.0,Lejlighed,155.0,1903.0,0.0
146196,"Rådmandsgade 46A, 2. TH",2200 København N,435000,25-08-1992,Alm. Salg,4027.0,4.0,Lejlighed,108.0,1933.0,0.0
146197,"Nørrebrogade 229, 4. TH",2200 København N,150000,12-08-1992,Alm. Salg,NaN,3.0,Lejlighed,58.0,1896.0,0.0
146198,"Holtegade 12, 4. TV",2200 København N,324220,15-07-1992,Alm. Salg,4631.0,2.0,Lejlighed,70.0,1932.0,0.0
146199,"Sankt Hans Gade 28, 3",2200 København N,559990,14-07-1992,Alm. Salg,5490.0,4.0,Lejlighed,102.0,1883.0,0.0
146200,"Husumgade 10, ST. TV",2200 København N,142500,09-07-1992,Alm. Salg,1759.0,3.0,Lejlighed,81.0,1904.0,0.0
146201,"Ravnsborg Tværgade 2, 3",2200 København N,445400,22-06-1992,Alm. Salg,4454.0,3.0,Lejlighed,100.0,1869.0,0.0
146202,"Griffenfeldsgade 43, ST",2200 København N,22000,30-05-1992,Fam. Salg,159.0,4.0,Lejlighed,138.0,1880.0,0.0
146203,"Nørre Allé 11A, ST. TV",2200 København N,390000,26-05-1992,Alm. Salg,5064.0,2.0,Lejlighed,77.0,1900.0,0.0
146204,"Korsgade 24, 5. TV",2200 København N,325000,12-05-1992,Alm. Salg,4850.0,3.0,Lejlighed,67.0,1872.0,0.0
146205,"Lundtoftegade 95, ST. TH",2200 København N,245000,11-05-1992,Alm. Salg,6447.0,3.0,Detailhandel,38.0,1930.0,0.0
146206,"Florsgade 7, 4. TH",2200 København N,570300,30-04-1992,Alm. Salg,5940.0,3.0,Lejlighed,96.0,1905.0,0.0
146207,"Griffenfeldsgade 8, 5. TH",2200 København N,640000,02-04-1992,Alm. Salg,5925.0,5.0,Lejlighed,108.0,1890.0,0.0
146208,"Hamletsgade 28, 4. TH",2200 København N,294600,30-03-1992,Alm. Salg,5356.0,2.0,Lejlighed,55.0,1938.0,0.0
146209,"Husumgade 12, 3. TH",2200 København N,398000,11-03-1992,Alm. Salg,5168.0,3.0,Lejlighed,77.0,1904.0,0.0
146210,"Husumgade 10, 4. TH",2200 København N,435000,16-02-1992,Alm. Salg,5178.0,3.0,Lejlighed,84.0,1904.0,0.0
146211,"Nørrebrogade 229, 3. TV",2200 København N,272698,16-01-1992,Alm. Salg,NaN,2.0,Lejlighed,50.0,1896.0,0.0
146212,"Peter Fabers Gade 41, 2. TH",2200 København N,250000,04-01-1992,Alm. Salg,5000.0,2.0,Lejlighed,50.0,1895.0,0.0

To avoid long chains of or (`|`) connections, you might want to specify the "or'ed" values in a list and just ask if cell values are in this list.

In [130]:
df[df['zip_code'].isin(['2100 København Ø', 
                        '2200 København N', 
                        '2300 København S'])]

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct
51353,"Petersborgvej 6, 3. 3",2100 København Ø,2600000,22-05-2017,Alm. Salg,41269.0,2.0,Lejlighed,63.0,1976.0,-2.0
51354,"Marstalsgade 49, 5. TH",2100 København Ø,1675000,18-05-2017,Fam. Salg,30454.0,2.0,Lejlighed,55.0,1904.0,0.0
51355,"Præstøgade 16, ST. TV",2100 København Ø,1845000,16-05-2017,Alm. Salg,31271.0,3.0,Lejlighed,59.0,1899.0,0.0
51356,"Rosenvængets Allé 36, ST. TH",2100 København Ø,12450000,15-05-2017,Alm. Salg,73668.0,6.0,Lejlighed,169.0,2009.0,0.0
51357,"Nordborggade 11, 3. TV",2100 København Ø,5920000,15-05-2017,Alm. Salg,48130.0,4.0,Lejlighed,123.0,1894.0,0.0
51358,"Nordre Frihavnsgade 84, 5. TV",2100 København Ø,2400000,13-05-2017,Fam. Salg,23300.0,5.0,Lejlighed,103.0,1892.0,0.0
51359,"Venøgade 26, 1. TV",2100 København Ø,1900000,11-05-2017,Fam. Salg,20212.0,4.0,Lejlighed,94.0,2007.0,0.0
51360,"Gustav Adolfs Gade 10, 3. TV",2100 København Ø,6598000,11-05-2017,Alm. Salg,49984.0,4.0,Lejlighed,132.0,1904.0,0.0
51361,"Marstalsgade 31, 2. TV",2100 København Ø,2015000,11-05-2017,Fam. Salg,35982.0,2.0,Lejlighed,56.0,1903.0,0.0
51362,"Lyngbyvej 32C, 3. MF",2100 København Ø,1265000,08-05-2017,Fam. Salg,19765.0,1.0,Lejlighed,64.0,1972.0,0.0
51363,Rudolph Berghs Gade 26,2100 København Ø,3060000,08-05-2017,Fam. Salg,18545.0,6.0,Rækkehus,165.0,1921.0,0.0
51364,"Amerika Plads 26B, 4. 1",2100 København Ø,6200000,08-05-2017,Alm. Salg,42176.0,4.0,Lejlighed,147.0,2006.0,-3.0
51365,"Strandboulevarden 20, 3. TH",2100 København Ø,2601000,08-05-2017,Fam. Salg,21857.0,4.0,Lejlighed,119.0,1931.0,0.0
51366,"Rosbæksvej 1, ST. TH",2100 København Ø,5105000,07-05-2017,Alm. Salg,32724.0,5.0,Lejlighed,156.0,1951.0,-7.0
51367,"Malmøgade 10, 2. TH",2100 København Ø,7995000,06-05-2017,Alm. Salg,42526.0,6.0,Lejlighed,188.0,1898.0,0.0
51368,"Østbanegade 11, 4. TV",2100 København Ø,7300000,05-05-2017,Alm. Salg,47096.0,5.0,Lejlighed,155.0,1905.0,0.0
51369,"Bogensegade 11, 5. TH",2100 København Ø,1742500,05-05-2017,Fam. Salg,19361.0,4.0,Lejlighed,90.0,1904.0,0.0
51370,"Petersborgvej 6, 2. 1",2100 København Ø,1300000,05-05-2017,Alm. Salg,22807.0,2.0,Lejlighed,57.0,1976.0,0.0
51371,"Østerbrogade 132, 1. TH",2100 København Ø,2768265,03-05-2017,Alm. Salg,11345.0,7.0,Lejlighed,244.0,1889.0,0.0
51372,"Strandboulevarden 104, 2. TH",2100 København Ø,2600000,03-05-2017,Fam. Salg,23853.0,3.0,Lejlighed,109.0,1904.0,0.0
51373,"Dampfærgevej 14, ST. 4",2100 København Ø,4795000,02-05-2017,Alm. Salg,43198.0,3.0,Lejlighed,111.0,2002.0,-2.0
51374,"Løgstørgade 36, 5",2100 København Ø,4095000,02-05-2017,Alm. Salg,40950.0,3.0,Lejlighed,100.0,1915.0,-11.0
51375,"Nygårdsvej 53, 2. TV",2100 København Ø,2495000,02-05-2017,Alm. Salg,37238.0,3.0,Lejlighed,67.0,1964.0,0.0
51376,"Holsteinsgade 66, 3. 6",2100 København Ø,1250000,02-05-2017,Fam. Salg,22321.0,2.0,Lejlighed,56.0,1978.0,0.0
51377,"Århusgade 16, 1. TV",2100 København Ø,2355000,02-05-2017,Alm. Salg,45288.0,2.0,Lejlighed,52.0,1901.0,-2.0
51378,"Strandboulevarden 145, ST. TV",2100 København Ø,3585000,01-05-2017,Alm. Salg,33504.0,4.0,Lejlighed,107.0,1904.0,-3.0
51379,H.P. Ørums Gade 15,2100 København Ø,2150000,01-05-2017,Andet,13271.0,6.0,Rækkehus,162.0,1908.0,0.0
51380,"Rothesgade 4, 1. TV",2100 København Ø,4625000,30-04-2017,Alm. Salg,49202.0,3.0,Lejlighed,94.0,1904.0,-1.0
51381,"Herninggade 21, 1. TH",2100 København Ø,2500000,30-04-2017,Alm. Salg,39062.0,2.0,Lejlighed,64.0,1935.0,0.0
51382,"Viborggade 38, 4. TV",2100 København Ø,1890000,28-04-2017,Alm. Salg,41086.0,2.0,Lejlighed,46.0,1885.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...
163588,Safirgangen 115,2300 København S,240000,10-05-1992,Alm. Salg,4000.0,2.0,Villa,60.0,1950.0,0.0
163589,Hf. Engly 66,2300 København S,170000,02-05-1992,Alm. Salg,2537.0,4.0,Villa,67.0,1970.0,0.0
163590,Boltonvej 24,2300 København S,765000,28-04-1992,Alm. Salg,7500.0,4.0,Villa,102.0,1924.0,0.0
163591,"Bremensgade 18, 1. TH",2300 København S,520000,28-04-1992,Fam. Salg,6117.0,3.0,Lejlighed,85.0,1972.0,0.0
163592,"Caprivej 1, 3. TH",2300 København S,325000,21-04-1992,Alm. Salg,5803.0,2.0,Lejlighed,56.0,1932.0,0.0
163593,Delosvej 16,2300 København S,620000,15-04-1992,Fam. Salg,5688.0,4.0,Villa,109.0,1928.0,0.0
163594,"Florensvej 12, 2. TH",2300 København S,390000,14-04-1992,Alm. Salg,5909.0,3.0,Lejlighed,66.0,1940.0,0.0
163595,"Amager Boulevard 134, 4. TH",2300 København S,685000,14-04-1992,Alm. Salg,4892.0,5.0,Lejlighed,140.0,1918.0,0.0
163596,Marathonvej 17,2300 København S,800000,13-04-1992,Alm. Salg,7407.0,4.0,Villa,108.0,1929.0,0.0
163597,Portlandsvej 23,2300 København S,740000,12-04-1992,Fam. Salg,5174.0,5.0,Villa,143.0,1967.0,0.0
163598,"Reykjaviksgade 3, 1. TH",2300 København S,620200,08-04-1992,Alm. Salg,5537.0,3.0,Lejlighed,112.0,1907.0,0.0
163599,Breidablik Allé 10,2300 København S,1025000,04-04-1992,Alm. Salg,5924.0,6.0,Villa,173.0,1934.0,0.0
163600,Kaktusvej 55,2300 København S,790000,24-03-1992,Alm. Salg,6583.0,4.0,Villa,120.0,1922.0,0.0
163601,"Bremensgade 9, 3. TV",2300 København S,295000,13-03-1992,Alm. Salg,4836.0,2.0,Lejlighed,61.0,1939.0,0.0
163602,"Reberbanegade 37, 1. TH",2300 København S,215000,09-03-1992,Alm. Salg,4134.0,2.0,Lejlighed,52.0,1940.0,0.0
163603,"Hyacintvej 22, ST",2300 København S,599676,05-03-1992,Alm. Salg,7688.0,4.0,Lejlighed,78.0,1939.0,0.0
163604,"Syriensvej 24, 1. 2",2300 København S,328750,01-03-1992,Alm. Salg,6575.0,2.0,Lejlighed,50.0,1937.0,0.0
163605,Safirgangen 125,2300 København S,140000,27-02-1992,Alm. Salg,1320.0,4.0,Villa,106.0,1940.0,0.0
163606,Engvej 71,2300 København S,850000,24-02-1992,Alm. Salg,4314.0,6.0,Villa,197.0,1927.0,0.0
163607,Arabiensvej 9A,2300 København S,614000,15-02-1992,Alm. Salg,6140.0,6.0,Rækkehus,100.0,1943.0,0.0
163608,Hf. Engvang 120,2300 København S,395000,12-02-1992,Alm. Salg,3950.0,3.0,Villa,100.0,1972.0,0.0
163609,Hollands Allé 36,2300 København S,468960,11-02-1992,Alm. Salg,4382.0,3.0,Rækkehus,107.0,1903.0,0.0
163610,"Gimles Allé 2B, 2. TV",2300 København S,335000,09-02-1992,Alm. Salg,5075.0,2.0,Lejlighed,66.0,1930.0,0.0
163611,Følfodvej 34,2300 København S,653000,03-02-1992,Alm. Salg,5101.0,4.0,Villa,128.0,1965.0,0.0
163612,Krudtmøllegårds Allé 7,2300 København S,200780,31-01-1992,Alm. Salg,1701.0,6.0,Villa,118.0,1910.0,0.0
163613,Hellasvej 8,2300 København S,550000,28-01-1992,Alm. Salg,3666.0,6.0,Villa,150.0,1931.0,0.0
163614,"Birketinget 2C, 4. 343",2300 København S,185000,21-01-1992,Alm. Salg,4111.0,1.0,Lejlighed,45.0,1970.0,0.0
163615,Rugagervej 7,2300 København S,846000,12-01-1992,Alm. Salg,6000.0,7.0,Villa,141.0,1961.0,0.0
163616,Alperosevej 5,2300 København S,796000,09-01-1992,Alm. Salg,6267.0,5.0,Villa,127.0,1939.0,0.0
163617,"Øresundsvej 108, 1. TV",2300 København S,351000,03-01-1992,Alm. Salg,5754.0,2.0,Lejlighed,61.0,1932.0,0.0

To find rows, in which certain cells satisfy a certain criteria, you can construct conjunctions of respective boolean expressions.

In [131]:
df[(df['zip_code'] == '2100 København Ø') & (df['sell_year'] == 2001)]

KeyError: 'sell_year'

We would like to have a column with a `sell_year`, so we have to create one out of the existing data. For example as in the following.

In [134]:
df['sell_year'] = [int(el.split('-')[-1]) for el in df['sell_date'].values]

In [136]:
df[(df['zip_code'] == '2100 København Ø') & (df['sell_year'] == 2001)]

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct,sell_year
59482,"Østerbrogade 208, 4. TH",2100 København Ø,525000,29-12-2001,Alm. Salg,12804.0,1.0,Lejlighed,41.0,1938.0,0.0,2001
59483,Niels W. Gades Gade 41,2100 København Ø,2050000,27-12-2001,Alm. Salg,15073.0,6.0,Rækkehus,136.0,1892.0,0.0,2001
59484,"Hardangergade 2, 2",2100 København Ø,478125,22-12-2001,Fam. Salg,2656.0,6.0,Lejlighed,180.0,1900.0,0.0,2001
59485,"Østerbrogade 104, 1. TV",2100 København Ø,3275000,20-12-2001,Alm. Salg,12996.0,7.0,Lejlighed,252.0,1902.0,0.0,2001
59486,Olufsvej 21,2100 København Ø,3000000,20-12-2001,Alm. Salg,24000.0,5.0,Rækkehus,125.0,1877.0,0.0,2001
59487,"Holsteinsgade 58, ST. TV",2100 København Ø,1165000,19-12-2001,Alm. Salg,15533.0,2.0,Lejlighed,75.0,1903.0,0.0,2001
59488,"Classensgade 35, 2. TV",2100 København Ø,1595000,18-12-2001,Alm. Salg,18764.0,4.0,Lejlighed,85.0,1895.0,0.0,2001
59489,Teglstrupvej 33,2100 København Ø,2000000,17-12-2001,Fam. Salg,11627.0,5.0,Villa,172.0,1923.0,0.0,2001
59490,"Østerbrogade 129, 2. TH",2100 København Ø,2512542,12-12-2001,Alm. Salg,15509.0,6.0,Lejlighed,162.0,1929.0,0.0,2001
59491,H.C. Lumbyes Gade 51,2100 København Ø,1600000,11-12-2001,Alm. Salg,11188.0,6.0,Rækkehus,143.0,1902.0,0.0,2001
59492,"Marstalsgade 23, 1. TV",2100 København Ø,885000,10-12-2001,Alm. Salg,16090.0,2.0,Lejlighed,55.0,1902.0,0.0,2001
59493,"Dampfærgevej 24C, 4. TH",2100 København Ø,3430000,10-12-2001,Alm. Salg,25597.0,3.0,Lejlighed,134.0,2001.0,0.0,2001
59494,Niels W. Gades Gade 28,2100 København Ø,2625000,09-12-2001,Alm. Salg,17384.0,6.0,Rækkehus,151.0,1892.0,0.0,2001
59495,"Løgstørgade 32, 3. TV",2100 København Ø,1093840,29-11-2001,Alm. Salg,16573.0,2.0,Lejlighed,66.0,1916.0,0.0,2001
59496,"Tåsingegade 29, 1. 5",2100 København Ø,1995235,27-11-2001,Alm. Salg,16221.0,3.0,Lejlighed,123.0,1970.0,0.0,2001
59497,"Kastelsvej 1, 1. 2",2100 København Ø,2550000,25-11-2001,Alm. Salg,14655.0,4.0,Lejlighed,174.0,1891.0,0.0,2001
59498,"Blegdamsvej 120, 1. MF",2100 København Ø,38500,24-11-2001,Fam. Salg,770.0,2.0,Lejlighed,50.0,1979.0,0.0,2001
59499,"Rosenvængets Hovedvej 48, 1. 3",2100 København Ø,2115014,24-11-2001,Alm. Salg,24034.0,3.0,Lejlighed,88.0,1999.0,0.0,2001
59500,Hornemansgade 6,2100 København Ø,2772000,22-11-2001,Alm. Salg,16902.0,7.0,Rækkehus,164.0,1903.0,0.0,2001
59501,"Carl Nielsens Allé 6, 4. TV",2100 København Ø,1451370,22-11-2001,Alm. Salg,20441.0,2.0,Lejlighed,71.0,1938.0,0.0,2001
59502,"Trondhjemsgade 12, 4. TH",2100 København Ø,1888119,20-11-2001,Alm. Salg,18154.0,2.0,Lejlighed,104.0,1932.0,0.0,2001
59503,"Ålborggade 25, 1. TH",2100 København Ø,975000,20-11-2001,Alm. Salg,19500.0,2.0,Lejlighed,50.0,1892.0,0.0,2001
59504,"Faksegade 17, 3. TH",2100 København Ø,1900000,20-11-2001,Alm. Salg,16379.0,4.0,Lejlighed,116.0,1880.0,0.0,2001
59505,"Tåsingegade 29, 1. 11",2100 København Ø,1880000,12-11-2001,Alm. Salg,17904.0,3.0,Lejlighed,105.0,1970.0,0.0,2001
59506,"Malmøgade 12, 1. TV",2100 København Ø,2800000,04-11-2001,Alm. Salg,17391.0,5.0,Lejlighed,161.0,1898.0,0.0,2001
59507,"Solvænget 1, 1. TH",2100 København Ø,2535684,29-10-2001,Alm. Salg,11904.0,8.0,Lejlighed,213.0,1931.0,0.0,2001
59508,"Nordre Frihavnsgade 14, 4. TV",2100 København Ø,2200000,28-10-2001,Alm. Salg,14965.0,6.0,Lejlighed,147.0,1880.0,0.0,2001
59509,"Næstvedgade 6B, 2. TH",2100 København Ø,1830000,27-10-2001,Alm. Salg,19263.0,4.0,Lejlighed,95.0,1890.0,0.0,2001
59510,"Korsørgade 2, 3. 4",2100 København Ø,947180,22-10-2001,Alm. Salg,15034.0,2.0,Lejlighed,63.0,1963.0,0.0,2001
59511,"Holsteinsgade 61, 4. TV",2100 København Ø,1599901,22-10-2001,Alm. Salg,14413.0,4.0,Lejlighed,111.0,1931.0,0.0,2001
...,...,...,...,...,...,...,...,...,...,...,...,...
85931,"Kristianiagade 4, ST. TV",2100 København Ø,3208179,19-03-2001,Alm. Salg,14649.0,6.0,Lejlighed,219.0,1905.0,0.0,2001
85932,"Classensgade 70, ST. TH",2100 København Ø,657000,15-03-2001,Fam. Salg,5429.0,4.0,Lejlighed,121.0,1931.0,0.0,2001
85933,"Willemoesgade 54, 4. TH",2100 København Ø,4609255,15-03-2001,Alm. Salg,11728.0,13.0,Lejlighed,393.0,1889.0,0.0,2001
85934,"Rosenvængets Sideallé 1, ST. TV",2100 København Ø,3325000,14-03-2001,Alm. Salg,12224.0,7.0,Lejlighed,272.0,1877.0,0.0,2001
85935,"Østerbrogade 194, 1. TV",2100 København Ø,1092525,13-03-2001,Alm. Salg,16066.0,2.0,Lejlighed,68.0,1938.0,0.0,2001
85936,"Holsteinsgade 66, 5. 11",2100 København Ø,1135524,06-03-2001,Alm. Salg,19921.0,2.0,Lejlighed,57.0,1978.0,0.0,2001
85937,"Horsensgade 13, 5. TH",2100 København Ø,630880,05-03-2001,Fam. Salg,10175.0,2.0,Lejlighed,62.0,1906.0,0.0,2001
85938,"Herninggade 15, 1. TH",2100 København Ø,970000,28-02-2001,Alm. Salg,15156.0,2.0,Lejlighed,64.0,1935.0,0.0,2001
85939,"Sortedam Dossering 93A, 1. TH",2100 København Ø,1150000,27-02-2001,Alm. Salg,14556.0,2.0,Lejlighed,79.0,1932.0,0.0,2001
85940,"Løgstørgade 42, ST. TV",2100 København Ø,861000,21-02-2001,Alm. Salg,19568.0,2.0,Lejlighed,44.0,1915.0,0.0,2001
85941,"Holsteinsgade 58, 2. TH",2100 København Ø,1399000,18-02-2001,Alm. Salg,16855.0,3.0,Lejlighed,83.0,1903.0,0.0,2001
85942,"Østbanegade 37, 1. 4",2100 København Ø,936132,15-02-2001,Alm. Salg,16140.0,2.0,Lejlighed,58.0,1931.0,0.0,2001
85943,"Randersgade 17, 1. TV",2100 København Ø,975000,13-02-2001,Alm. Salg,14338.0,2.0,Lejlighed,68.0,1958.0,0.0,2001
85944,"Nordre Frihavnsgade 88, 1. TH",2100 København Ø,2030256,11-02-2001,Alm. Salg,12084.0,6.0,Lejlighed,168.0,1892.0,0.0,2001
85945,Ryesgade 112C,2100 København Ø,1785000,09-02-2001,Alm. Salg,9248.0,6.0,Lejlighed,193.0,1920.0,0.0,2001
85946,"Strandboulevarden 109, 2. TH",2100 København Ø,1649500,02-02-2001,Alm. Salg,14343.0,5.0,Lejlighed,115.0,1915.0,0.0,2001
85947,"Østerbrogade 84A, 4",2100 København Ø,1031000,02-02-2001,Alm. Salg,13050.0,3.0,Lejlighed,79.0,1900.0,0.0,2001
85948,"Strandboulevarden 107, 4. TV",2100 København Ø,1561635,01-02-2001,Alm. Salg,14732.0,4.0,Lejlighed,106.0,1915.0,0.0,2001
85949,"Langelinie Allé 29, 1. TH",2100 København Ø,3005000,24-01-2001,Alm. Salg,22593.0,3.0,Lejlighed,133.0,2001.0,0.0,2001
85950,"Willemoesgade 33, 4. TV",2100 København Ø,2169000,23-01-2001,Alm. Salg,15717.0,4.0,Lejlighed,138.0,1908.0,0.0,2001
85951,Landskronagade 48A,2100 København Ø,1128879,23-01-2001,Alm. Salg,6069.0,7.0,Rækkehus,186.0,1895.0,0.0,2001
85952,"Østerbrogade 216, 1. TH",2100 København Ø,925078,22-01-2001,Alm. Salg,12172.0,3.0,Lejlighed,76.0,1938.0,0.0,2001
85953,"Gammel Kalkbrænderi Vej 56, 3. TV",2100 København Ø,801000,21-01-2001,Alm. Salg,14303.0,2.0,Lejlighed,56.0,1904.0,0.0,2001
85954,"Østerbrogade 155, 1",2100 København Ø,1290000,19-01-2001,Alm. Salg,15925.0,3.0,Lejlighed,81.0,1903.0,0.0,2001
85955,"Koldinggade 6, ST. TV",2100 København Ø,1546154,17-01-2001,Alm. Salg,17179.0,4.0,Lejlighed,90.0,1905.0,0.0,2001
85956,"Rønnegade 12, 2. TH",2100 København Ø,1112762,14-01-2001,Alm. Salg,13247.0,3.0,Lejlighed,84.0,1979.0,0.0,2001
85957,"Vermundsgade 4, 2. TV",2100 København Ø,860000,11-01-2001,Alm. Salg,14098.0,2.0,Lejlighed,61.0,1926.0,0.0,2001
85958,"Malmøgade 6, 3. TV",2100 København Ø,4250000,05-01-2001,Alm. Salg,13888.0,7.0,Lejlighed,306.0,1901.0,0.0,2001
85959,Hallinsgade 25,2100 København Ø,2800000,02-01-2001,Alm. Salg,20895.0,5.0,Rækkehus,134.0,1873.0,0.0,2001
85960,"Viborggade 40, 3. TV",2100 København Ø,667388,02-01-2001,Alm. Salg,14830.0,2.0,Lejlighed,45.0,1885.0,0.0,2001

In [137]:
df[(df['zip_code'] == '2100 København Ø') & (~df['no_rooms'].isnull())]

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct,sell_year
51353,"Petersborgvej 6, 3. 3",2100 København Ø,2600000,22-05-2017,Alm. Salg,41269.0,2.0,Lejlighed,63.0,1976.0,-2.0,2017
51354,"Marstalsgade 49, 5. TH",2100 København Ø,1675000,18-05-2017,Fam. Salg,30454.0,2.0,Lejlighed,55.0,1904.0,0.0,2017
51355,"Præstøgade 16, ST. TV",2100 København Ø,1845000,16-05-2017,Alm. Salg,31271.0,3.0,Lejlighed,59.0,1899.0,0.0,2017
51356,"Rosenvængets Allé 36, ST. TH",2100 København Ø,12450000,15-05-2017,Alm. Salg,73668.0,6.0,Lejlighed,169.0,2009.0,0.0,2017
51357,"Nordborggade 11, 3. TV",2100 København Ø,5920000,15-05-2017,Alm. Salg,48130.0,4.0,Lejlighed,123.0,1894.0,0.0,2017
51358,"Nordre Frihavnsgade 84, 5. TV",2100 København Ø,2400000,13-05-2017,Fam. Salg,23300.0,5.0,Lejlighed,103.0,1892.0,0.0,2017
51359,"Venøgade 26, 1. TV",2100 København Ø,1900000,11-05-2017,Fam. Salg,20212.0,4.0,Lejlighed,94.0,2007.0,0.0,2017
51360,"Gustav Adolfs Gade 10, 3. TV",2100 København Ø,6598000,11-05-2017,Alm. Salg,49984.0,4.0,Lejlighed,132.0,1904.0,0.0,2017
51361,"Marstalsgade 31, 2. TV",2100 København Ø,2015000,11-05-2017,Fam. Salg,35982.0,2.0,Lejlighed,56.0,1903.0,0.0,2017
51362,"Lyngbyvej 32C, 3. MF",2100 København Ø,1265000,08-05-2017,Fam. Salg,19765.0,1.0,Lejlighed,64.0,1972.0,0.0,2017
51363,Rudolph Berghs Gade 26,2100 København Ø,3060000,08-05-2017,Fam. Salg,18545.0,6.0,Rækkehus,165.0,1921.0,0.0,2017
51364,"Amerika Plads 26B, 4. 1",2100 København Ø,6200000,08-05-2017,Alm. Salg,42176.0,4.0,Lejlighed,147.0,2006.0,-3.0,2017
51365,"Strandboulevarden 20, 3. TH",2100 København Ø,2601000,08-05-2017,Fam. Salg,21857.0,4.0,Lejlighed,119.0,1931.0,0.0,2017
51366,"Rosbæksvej 1, ST. TH",2100 København Ø,5105000,07-05-2017,Alm. Salg,32724.0,5.0,Lejlighed,156.0,1951.0,-7.0,2017
51367,"Malmøgade 10, 2. TH",2100 København Ø,7995000,06-05-2017,Alm. Salg,42526.0,6.0,Lejlighed,188.0,1898.0,0.0,2017
51368,"Østbanegade 11, 4. TV",2100 København Ø,7300000,05-05-2017,Alm. Salg,47096.0,5.0,Lejlighed,155.0,1905.0,0.0,2017
51369,"Bogensegade 11, 5. TH",2100 København Ø,1742500,05-05-2017,Fam. Salg,19361.0,4.0,Lejlighed,90.0,1904.0,0.0,2017
51370,"Petersborgvej 6, 2. 1",2100 København Ø,1300000,05-05-2017,Alm. Salg,22807.0,2.0,Lejlighed,57.0,1976.0,0.0,2017
51371,"Østerbrogade 132, 1. TH",2100 København Ø,2768265,03-05-2017,Alm. Salg,11345.0,7.0,Lejlighed,244.0,1889.0,0.0,2017
51372,"Strandboulevarden 104, 2. TH",2100 København Ø,2600000,03-05-2017,Fam. Salg,23853.0,3.0,Lejlighed,109.0,1904.0,0.0,2017
51373,"Dampfærgevej 14, ST. 4",2100 København Ø,4795000,02-05-2017,Alm. Salg,43198.0,3.0,Lejlighed,111.0,2002.0,-2.0,2017
51374,"Løgstørgade 36, 5",2100 København Ø,4095000,02-05-2017,Alm. Salg,40950.0,3.0,Lejlighed,100.0,1915.0,-11.0,2017
51375,"Nygårdsvej 53, 2. TV",2100 København Ø,2495000,02-05-2017,Alm. Salg,37238.0,3.0,Lejlighed,67.0,1964.0,0.0,2017
51376,"Holsteinsgade 66, 3. 6",2100 København Ø,1250000,02-05-2017,Fam. Salg,22321.0,2.0,Lejlighed,56.0,1978.0,0.0,2017
51377,"Århusgade 16, 1. TV",2100 København Ø,2355000,02-05-2017,Alm. Salg,45288.0,2.0,Lejlighed,52.0,1901.0,-2.0,2017
51378,"Strandboulevarden 145, ST. TV",2100 København Ø,3585000,01-05-2017,Alm. Salg,33504.0,4.0,Lejlighed,107.0,1904.0,-3.0,2017
51379,H.P. Ørums Gade 15,2100 København Ø,2150000,01-05-2017,Andet,13271.0,6.0,Rækkehus,162.0,1908.0,0.0,2017
51380,"Rothesgade 4, 1. TV",2100 København Ø,4625000,30-04-2017,Alm. Salg,49202.0,3.0,Lejlighed,94.0,1904.0,-1.0,2017
51381,"Herninggade 21, 1. TH",2100 København Ø,2500000,30-04-2017,Alm. Salg,39062.0,2.0,Lejlighed,64.0,1935.0,0.0,2017
51382,"Viborggade 38, 4. TV",2100 København Ø,1890000,28-04-2017,Alm. Salg,41086.0,2.0,Lejlighed,46.0,1885.0,-5.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
87198,Kuhlausgade 32,2100 København Ø,979600,09-04-1992,Alm. Salg,6487.0,5.0,Rækkehus,151.0,1892.0,0.0,1992
87199,Soldalen 22,2100 København Ø,1650000,09-04-1992,Alm. Salg,7603.0,8.0,Rækkehus,217.0,1931.0,0.0,1992
87200,"Malmøgade 7, KL. TH",2100 København Ø,3050000,08-04-1992,Alm. Salg,NaN,1.0,Fritid,NaN,1904.0,0.0,1992
87201,Øster Søgade 64,2100 København Ø,850000,08-04-1992,Alm. Salg,8585.0,5.0,Rækkehus,99.0,1886.0,0.0,1992
87202,"Strandvejen 10, 2. TH",2100 København Ø,855140,08-04-1992,Alm. Salg,5120.0,4.0,Lejlighed,167.0,1929.0,0.0,1992
87203,Strandøre 19,2100 København Ø,1157500,26-03-1992,Alm. Salg,6808.0,5.0,Villa,170.0,1931.0,0.0,1992
87204,H.C. Lumbyes Gade 2,2100 København Ø,1058000,24-03-1992,Alm. Salg,5688.0,9.0,Rækkehus,186.0,1894.0,0.0,1992
87205,"Strandboulevarden 27, 1. TH",2100 København Ø,840000,12-03-1992,Alm. Salg,6000.0,5.0,Lejlighed,140.0,1904.0,0.0,1992
87206,"Strandboulevarden 98, 3. TH",2100 København Ø,790000,12-03-1992,Alm. Salg,6171.0,5.0,Lejlighed,128.0,1903.0,0.0,1992
87207,J.A. Schwartz Gade 16,2100 København Ø,1037000,11-03-1992,Alm. Salg,8038.0,5.0,Rækkehus,129.0,1876.0,0.0,1992
87208,"Rosbæksvej 15, 2",2100 København Ø,4000000,08-03-1992,Alm. Salg,34482.0,3.0,Lejlighed,116.0,1912.0,0.0,1992
87209,"Rosenvængets Hovedvej 18, ST. TV",2100 København Ø,404137,05-03-1992,Alm. Salg,5773.0,2.0,Lejlighed,70.0,1938.0,0.0,1992
87210,"Willemoesgade 36, ST. TH",2100 København Ø,533500,05-03-1992,Alm. Salg,5129.0,4.0,Lejlighed,104.0,1908.0,0.0,1992
87211,"Kastelsvej 27, 3. TH",2100 København Ø,1550000,27-02-1992,Alm. Salg,6378.0,6.0,Lejlighed,243.0,1905.0,0.0,1992
87212,J.A. Schwartz Gade 11,2100 København Ø,1171950,22-02-1992,Alm. Salg,9084.0,5.0,Rækkehus,129.0,1876.0,0.0,1992
87213,"Østerbrogade 84C, 3. TH",2100 København Ø,932000,20-02-1992,Alm. Salg,5120.0,5.0,Lejlighed,182.0,1900.0,0.0,1992
87214,"Østerbrogade 202, 1. TH",2100 København Ø,365000,17-02-1992,Alm. Salg,5140.0,2.0,Lejlighed,71.0,1938.0,0.0,1992
87215,"Hesseløgade 2, 4. TV",2100 København Ø,265544,13-02-1992,Fam. Salg,1831.0,5.0,Lejlighed,145.0,1906.0,0.0,1992
87216,"Østerbrogade 222, 4. TH",2100 København Ø,390000,11-02-1992,Alm. Salg,5342.0,2.0,Lejlighed,73.0,1938.0,0.0,1992
87217,"Solvænget 3, 3. TV",2100 København Ø,950000,11-02-1992,Alm. Salg,6291.0,5.0,Lejlighed,151.0,1931.0,0.0,1992
87218,"Stockholmsgade 37, ST. TH",2100 København Ø,860000,08-02-1992,Alm. Salg,5695.0,4.0,Lejlighed,151.0,1895.0,0.0,1992
87219,"Strandboulevarden 97, 4. TH",2100 København Ø,510000,04-02-1992,Alm. Salg,5483.0,4.0,Lejlighed,93.0,1911.0,0.0,1992
87220,"Sortedam Dossering 93A, 1. TV",2100 København Ø,1000000,30-01-1992,Alm. Salg,8695.0,3.0,Lejlighed,115.0,1932.0,0.0,1992
87221,"Holsteinsgade 9, 3. TV",2100 København Ø,970000,29-01-1992,Alm. Salg,4349.0,7.0,Lejlighed,223.0,1884.0,0.0,1992
87222,"Strandvejen 8, 1. TV",2100 København Ø,921746,23-01-1992,Alm. Salg,5207.0,6.0,Lejlighed,177.0,1929.0,0.0,1992
87223,"Helsingborggade 7, ST. TV",2100 København Ø,752210,23-01-1992,Alm. Salg,9286.0,3.0,Lejlighed,81.0,1990.0,0.0,1992
87224,"Bryggervangen 2, 5",2100 København Ø,635000,20-01-1992,Alm. Salg,4503.0,3.0,Lejlighed,141.0,1930.0,0.0,1992
87225,"Nygårdsvej 10, 3. 21",2100 København Ø,415000,13-01-1992,Alm. Salg,6916.0,2.0,Lejlighed,60.0,1963.0,0.0,1992
87226,"Aldersrogade 7, 3. TV",2100 København Ø,161090,13-01-1992,Alm. Salg,3039.0,2.0,Lejlighed,53.0,1908.0,0.0,1992
87227,"Lundsgade 5, ST. TH",2100 København Ø,835000,09-01-1992,Alm. Salg,5060.0,5.0,Lejlighed,165.0,1894.0,0.0,1992

# Preprocessing Data
 
At some point, you might want to work only on data that is complete, which you can do by filtering out all rows, which contain a null value in a certain field.

In [138]:
df_data = df[(~df['address'].isnull()) & (~df['zip_code'].isnull())]

## Geocoding with online APIs

For using geolocation services, we have to create addresses in a form that they 'understand'. Currently, we have addresses split in two columns `address` and `zip_code`, see below.

In [139]:
df_data.head()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct,sell_year
0,"Ved Volden 5, 5. TV",1425 København K,4000000,23-05-2017,Alm. Salg,43956.0,3.0,Lejlighed,91.0,1938.0,0.0,2017
1,"Rådhusstræde 4C, 1",1466 København K,4895000,18-05-2017,Alm. Salg,46619.0,3.0,Lejlighed,105.0,1796.0,0.0,2017
2,"Store Kongensgade 112A, 3",1264 København K,250000,15-05-2017,Andet,1851.0,2.0,Lejlighed,135.0,1860.0,0.0,2017
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0,2017
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0,2017

We want to create an address, which does not contain the floor of a flat anymore. That is, we will create addresses of the form `Lille Strandstræde 20 1254 København K` for all addresses.

We can do that with a list comprehension as illustrated in the following. Note, that we are splitting up the string on the comma and only retain the part of the address refering to the door of the building.

In [140]:
api_addresses = [' '.join([a.split(',')[0], z]) for a, z in df[['address', 'zip_code']].values]

Note, since we remove data from the addresses, we may now have duplicates in our `api_addresses` dataset. For example, `Schleppegrellsgade 5, 4. TH` has the same address on the door as `Schleppegrellsgade 5, 3. TH`. That is important to remember, to reduce the amount of data that you push to an API.

In [141]:
print(len(set(api_addresses)))
print(len(api_addresses))

1142528
1385309

Alternatively, we could use a regular expression to filter for the value of the address. That 


In the following function, we use the Google Maps Geolocation API (https://developers.google.com/maps/documentation/geolocation/intro) to receive locations in form of latitude and longitude values.

In [142]:
import requests


def get_location_for(address='Copenhagen'):
    api_url = 'https://maps.googleapis.com/maps/api/geocode/json'
    
    try:
        r = requests.get(api_url, params={'sensor': 'false', 
                                          'address': address})
        results = r.json()['results']
    
        location = results[0]['geometry']['location']
        lat, lon = location['lat'], location['lng']
    except:
        lat, lon = None, None
    return lat, lon

For this example we reduce the amount of data with which we query the API even more, since we do not have a lot of time in class.

In [143]:
df = df_data

df_cphn_2000 = df[(df['zip_code'] == '2200 København N') & 
                  (df['sell_year'] == 2000)]

complete_addresses = [' '.join([a.split(',')[0], z]) 
                      for a, z in df_cphn_2000[['address', 'zip_code']].values]
# This line is the equivalent of the older
df_cphn_2000 = df_cphn_2000.assign(complete_addresses=complete_addresses)
# df_cphn_2000.loc[:, 'complete_addresses'] = complete_addresses
# df_cphn_2000['complete_addresses'] = complete_addresses, which will produce a warning

df_cphn_2000.head()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct,sell_year,complete_addresses
92100,"Dagmarsgade 19, 4. 519",2200 København N,719998,17-12-2000,Alm. Salg,11612.0,2.0,Lejlighed,62.0,1974.0,0.0,2000,Dagmarsgade 19 2200 København N
92101,"Hamletsgade 8, 1. 82",2200 København N,744960,05-12-2000,Alm. Salg,11460.0,2.0,Lejlighed,65.0,1975.0,0.0,2000,Hamletsgade 8 2200 København N
92102,"Meinungsgade 42, 5. TH",2200 København N,799914,20-11-2000,Alm. Salg,18179.0,2.0,Lejlighed,44.0,1881.0,0.0,2000,Meinungsgade 42 2200 København N
92103,"Hamletsgade 17, 5. TV",2200 København N,732757,09-11-2000,Alm. Salg,12855.0,2.0,Lejlighed,57.0,1947.0,0.0,2000,Hamletsgade 17 2200 København N
92104,"Schleppegrellsgade 5, 4. TH",2200 København N,353979,07-11-2000,Alm. Salg,3806.0,3.0,Lejlighed,93.0,1892.0,0.0,2000,Schleppegrellsgade 5 2200 København N

In [144]:
print(len(df_cphn_2000['complete_addresses']))
print(len(df_cphn_2000['complete_addresses'].unique()))

292
67

In [109]:
to_code_addresses = df_cphn_2000['complete_addresses'].unique()
locations = [get_location_for(a) for a in to_code_addresses]
locations

[(55.698437, 12.545799),
 (55.70222829999999, 12.5462645),
 (55.6929436, 12.5555572),
 (55.7011148, 12.5447834),
 (55.689802, 12.564516),
 (55.6850556, 12.555061),
 (55.6920052, 12.554414),
 (55.6918623, 12.5675306),
 (55.7011028, 12.5431532),
 (55.69610909999999, 12.5457271),
 (55.6875838, 12.5438127),
 (55.698789, 12.5445608),
 (55.697512, 12.539522),
 (55.70127280000001, 12.5443325),
 (55.7019339, 12.5498554),
 (55.6984672, 12.5450803),
 (55.700458, 12.540569),
 (55.6976804, 12.5460551),
 (55.688908, 12.564339),
 (55.696987, 12.5406452),
 (55.6967229, 12.5405979),
 (55.7005864, 12.5467889),
 (55.6920808, 12.5566294),
 (55.69681809999999, 12.5399321),
 (55.69797800000001, 12.55047),
 (55.695648, 12.5456097),
 (55.69255459999999, 12.5464326),
 (55.690859, 12.5594467),
 (55.6918327, 12.5676656),
 (55.687803, 12.553145),
 (55.68909189999999, 12.5628596),
 (55.693515, 12.546714),
 (55.7011258, 12.5443972),
 (55.7029447, 12.5487313),
 (55.7027569, 12.5455956),
 (55.698449, 12.546294),
 (55.6948722, 12.5453919),
 (55.6975186, 12.5399995),
 (55.6934492, 12.5468896),
 (55.697433, 12.539149),
 (55.6911218, 12.5556922),
 (55.6851502, 12.552529),
 (55.699698, 12.5524393),
 (55.690146, 12.564436),
 (55.684942, 12.558774),
 (55.68561, 12.5516774),
 (55.6916793, 12.5565229),
 (55.6965412, 12.5399334),
 (55.69258319999999, 12.5647599),
 (55.68760899999999, 12.547413),
 (55.688501, 12.563793),
 (55.706879, 12.547393),
 (55.6852672, 12.5507873),
 (55.7004088, 12.5464854),
 (55.6894759, 12.5642347),
 (55.6994337, 12.54086),
 (55.6879504, 12.5597572),
 (55.687662, 12.547449),
 (55.6970624, 12.5405487),
 (55.6932676, 12.5467644),
 (55.701193, 12.543192),
 (55.7009756, 12.5431114),
 (55.6933157, 12.5472929),
 (55.6981099, 12.5379965),
 (55.6927676, 12.5452632),
 (55.68630719999999, 12.5608803),
 (55.683485, 12.5561528)]

As you can see, the list comprehension takes a while to complete, i.e., some minutes. Even though, the amount of data we push to the API is quite low.

Using a paid plan, we could query more than 2000 addresses, see https://developers.google.com/maps/documentation/geolocation/get-api-key.

However, as we have already 103,396 unique addresses for the housing sales records only on Zealand and only within the years 2000 to 2005, see `df_bolig_zealand` geocoding of those addresses would take ca. 35 minutes (`103396 / 50 / 60`). Furthermore, it would cost us ca. 50USD (`(103396 - 2500) / 1000 * 0.5`), see 'Standard Usage Limits' at https://developers.google.com/maps/documentation/geolocation/usage-limits

Consequently, for bulk processing the Google API may not be the right choice for your use case.

In [145]:
lats, lons = zip(*locations)

geocoded = pd.DataFrame({'complete_addresses': to_code_addresses,
                         'lat': lats,
                         'lon': lons})
geocoded.head()

                      complete_addresses        lat        lon
0        Dagmarsgade 19 2200 København N  55.698437  12.545799
1         Hamletsgade 8 2200 København N  55.702228  12.546264
2       Meinungsgade 42 2200 København N  55.692944  12.555557
3        Hamletsgade 17 2200 København N  55.701115  12.544783
4  Schleppegrellsgade 5 2200 København N  55.689802  12.564516

Now, it remains to merge the geolocation values from the `geocoded` `DataFrame` into the main `df``DataFrame`. The straight forward method would be to iterate over each row and add the corresponding value. However, this is not efficient. Thus, read the documentation at http://pandas.pydata.org/pandas-docs/stable/merging.html and suggest a more efficient way of merging the locations into `df`.

## Geocoding with OSM API

#### GeoPy Documentation

If not targetting a geocoding API directly as in the example above, you can use a wrapper, which allows you to target various different APIs from different providers. One such wrapper is the `geopy` module, see http://geopy.readthedocs.io/en/latest/. It has to be installed to your environment, for example, via `pip install geopy`.

In the following example we will use the Openstreetmap API with the help of `geopy`.

In [148]:
from tqdm import tqdm
# The Nominatim geocoder seems to use openstreetmap.com...
from geopy.geocoders import Nominatim


def get_locations(address, zip_code):
    try:
        # This removes information about a flats storey
        address_field = address.split(', ')[0]
        # This one removes trailing letters on the city name
        # It seems as if Openstreetmap cannot handle København H
        # but it works with København
        zip_field = ' '.join(zip_code.split(' ')[:-1])
        search_address = ', '.join([address_field, zip_field])

        geolocator = Nominatim()
        location = geolocator.geocode(search_address)
        return location.latitude, location.longitude
    except:
        print('Skipped geocoding of {} {}'.format(address, zip_code))
        return None, None


address = 'Åboulevard 34E, 4. TH'
zip_code = '2200 København N'
get_locations(address, zip_code)

(55.685043, 12.555086)

In [150]:
mini_df = df[['address', 'zip_code']][:15]

locs = []
for _, el in df_bolig_zealand[['address', 'zip_code']][:15].iterrows():
    locs.append(get_locations(el['address'], el['zip_code']))
locs

Skipped geocoding of Amaliegade 13B, 6. TH 1256 København K

[(55.68121, 12.590218),
 (55.671201, 12.587217),
 (55.671854, 12.585575),
 (55.6858749, 12.5894455),
 (None, None),
 (55.680771, 12.589998),
 (55.672052, 12.594456),
 (55.681538, 12.582607),
 (55.67167, 12.587249),
 (55.687122, 12.588841),
 (55.684351, 12.56783),
 (55.670923, 12.587419),
 (55.678077, 12.575404),
 (55.675441, 12.598289),
 (55.676045, 12.598423)]

Now, our  geocoding strategy was less smart. We query addresses again and again as we do not build a set of complete addresses refering to locations of doors. However, the advantage is, that we can `join` the result of the above operation directly to our current `DataFrame`.

In [151]:
mini_df.join(pd.DataFrame(locs, columns=['lat', 'lon']))

                         address          zip_code        lat        lon
0            Ved Volden 5, 5. TV  1425 København K  55.681210  12.590218
1             Rådhusstræde 4C, 1  1466 København K  55.671201  12.587217
2      Store Kongensgade 112A, 3  1264 København K  55.671854  12.585575
3              Amaliegade 13G, 2  1256 København K  55.685875  12.589446
4          Borgergade 144, 3. TH  1300 København K        NaN        NaN
5         Nørre Søgade 9A, 1. TH  1370 København K  55.680771  12.589998
6             Wildersgade 22, ST  1408 København K  55.672052  12.594456
7             Toldbodgade 10A, 1  1253 København K  55.681538  12.582607
8   Andreas Bjørns Gade 4, 3. TH  1428 København K  55.671670  12.587249
9             Sølvgade 15, 4. TH  1307 København K  55.687122  12.588841
10             Linnésgade 16A, 1  1361 København K  55.684351  12.567830
11  Store Kongensgade 63A, ST. 4  1264 København K  55.670923  12.587419
12   Peder Skrams Gade 28, 2. TV  1054 København K  55.678077  12.575404
13        Brobergsgade 14, 1. TV  1427 København K  55.675441  12.598289
14            Sølvgade 13, 2. TV  1307 København K  55.676045  12.598423

As you can see, geocoding is not really faster as before and there might exist similar restrictions as earlier depending, which precise API you use as a backend. So we have a look at even another way of geocoding our data.


## Geocoding with OSM file

Since we figured that online APIs may not be appropriate for geocoding such a large amount of addresses as we have -at least not for free and within a reasonable amount of time- we search a bit on the web and find http://download.geofabrik.de, which provides an offline dump of the Openstreetmaps data.

We can download a file with data corresponding to Danmark as in the following.

In [ ]:
%%bash

wget --directory-prefix=./data/ http://download.geofabrik.de/europe/denmark-latest.osm.bz2
bzip2 -d ./data/denmark-latest.osm.bz2

In [152]:
%%bash

ls -ltrh ./data/denmark-latest.osm

-rw-r--r-- 1 vagrant vagrant 4.9G Sep 12 05:51 ./data/denmark-latest.osm

In [153]:
%%bash

head ./data/denmark-latest.osm

<?xml version='1.0' encoding='UTF-8'?>
<osm version="0.6" generator="osmconvert 0.8.5" timestamp="2017-09-11T20:43:02Z">
	<bounds minlat="54.44065" minlon="7.7011" maxlat="58.06239" maxlon="15.65449"/>
	<node id="115722" lat="55.7332789" lon="9.1270597" version="3" timestamp="2016-01-12T10:36:08Z" changeset="36525373" uid="207581" user="Hjart"/>
	<node id="115723" lat="55.7332556" lon="9.1268908" version="3" timestamp="2016-01-12T10:36:08Z" changeset="36525373" uid="207581" user="Hjart"/>
	<node id="115724" lat="55.7336882" lon="9.1266877" version="6" timestamp="2013-06-21T08:36:40Z" changeset="16640465" uid="207581" user="Hjart"/>
	<node id="115727" lat="55.7345219" lon="9.1302165" version="6" timestamp="2014-11-03T18:16:00Z" changeset="26531953" uid="207581" user="Hjart"/>
	<node id="115728" lat="55.734561" lon="9.1309176" version="7" timestamp="2017-03-22T15:17:28Z" changeset="47071321" uid="366321" user="Peter Bremer"/>
	<node id="115729" lat="55.7343871" lon="9.1319505" version="6" timestamp="2014-11-03T18:16:00Z" changeset="26531953" uid="207581" user="Hjart"/>
	<node id="115731" lat="55.7340601" lon="9.1327587" version="6" timestamp="2014-11-03T18:16:00Z" changeset="26531953" uid="207581" user="Hjart"/>

By inspecting the file, we see that the data is stored in XML format. We could either set out to parse the XML file with standard modules. However, on the web we find that the following two modules implement a high-level parser for the OSM data.

  * The `imposm.parser` https://imposm.org/docs/imposm.parser/latest/ is said to be efficient and quick, but
  * `osmread` https://github.com/dezhin/osmread is really simple to use, so we go for that one here.

In `osmread` documentation (https://github.com/dezhin/osmread#example-usage), you find, that you can read and process the geo-data like this:

```python
from osmread import parse_file, Way

highway_count = 0
for entity in parse_file('foo.osm.bz2'):
    if isinstance(entity, Way) and 'highway' in entity.tags:
        highway_count += 1

print("%d highways found" % highway_count)
```

We can go ahead and adapt the example from the documentation to fill a dictionary with the geo-locations of each address, which we can use as strings.

In [154]:
from osmread import parse_file, Node
from collections import defaultdict


postcodes = defaultdict(lambda: defaultdict(dict))

for entry in parse_file('./data/denmark-latest.osm'):
    if (isinstance(entry, Node) and 
        'addr:street' in entry.tags and 
        'addr:postcode' in entry.tags and 
        'addr:housenumber' in entry.tags):
        postcodes[entry.tags['addr:postcode']][entry.tags['addr:street']][entry.tags['addr:housenumber']] = entry.lon, entry.lat

KeyboardInterrupt:

However, the drawback with this solution is, that our initial OSM dataset for Danmark is 4.9GB large. That is, the dictionary, which we construct will likely fill more than a gigabyte of RAM. To implement memory friendly programs, you might want to resort to _generator functions_, see below.

In [155]:
from osmread import parse_file, Node


def decode_node_to_csv():
    for entry in parse_file('./data/denmark-latest.osm'):
        if (isinstance(entry, Node) and 
            'addr:street' in entry.tags and 
            'addr:postcode' in entry.tags and 
            'addr:housenumber' in entry.tags):

            yield entry


for idx, decoded_node in enumerate(decode_node_to_csv()):
    if idx > 100:
        break
    print(idx, decoded_node)

0 Node(id=814331, version=4, changeset=6758289, timestamp=1293238072, uid=1124, tags={'name': 'Statoil H C Ørstedvej', 'source': 'www.statoil.dk, with permission', 'amenity': 'fuel', 'operator': 'Statoil', 'addr:city': 'Frederiksberg', 'addr:street': 'H.C. Ørsteds Vej', 'addr:postcode': '1879', 'addr:housenumber': '25'}, lon=12.54731, lat=55.67912)
1 Node(id=24958713, version=7, changeset=34722010, timestamp=1445208795, uid=1288, tags={'name': 'Ølbaren', 'phone': '+45 35354534', 'amenity': 'pub', 'smoking': 'no', 'website': 'http://oelbaren.dk/', 'addr:city': 'København N', 'addr:street': 'Elmegade', 'addr:postcode': '2200', 'opening_hours': 'Mo 21:00-01:00, Tu-We 16:00-01:00, Th 16:00-02:00, Fr 15:00-02:00, Sa 13:00-02:00, Su 13:00-23:00', 'addr:housenumber': '2'}, lon=12.5578332, lat=55.6892934)
2 Node(id=24959329, version=5, changeset=6599870, timestamp=1291930264, uid=10371, tags={'addr:city': 'København Ø', 'addr:street': 'Universitetsparken', 'addr:postcode': '2100', 'addr:housenumber': '15'}, lon=12.5590367, lat=55.7024935)
3 Node(id=25904721, version=10, changeset=48120145, timestamp=1493118153, uid=4109495, tags={'addr:city': 'København N', 'addr:country': 'DK', 'addr:housenumber': '36', 'addr:postcode': '2200', 'addr:street': 'Ægirsgade', 'amenity': 'pub', 'fvst:navnelbnr': '109922', 'name': 'Café Viking', 'opening_hours': 'Mo-Sa 09:00-02:00; Su 09:00-20:00', 'phone': '+45 35831493', 'website': 'http://www.cafeviking.dk'}, lon=12.5467101, lat=55.6996104)
4 Node(id=25937051, version=6, changeset=28313009, timestamp=1421870539, uid=2184056, tags={'source': 'OSAK (2010)', 'addr:city': 'Esbjerg V', 'addr:street': 'Tarphagevej', 'addr:country': 'DK', 'addr:postcode': '6710', 'osak:house_no': '6', 'osak:revision': '2000-10-12T00:00:00', 'osak:street_no': '8345', 'osak:identifier': '0A3F508DC71D32B8E0440003BA298018', 'addr:housenumber': '6', 'osak:street_name': 'Tarphagevej', 'osak:municipality_no': '561', 'osak:municipality_name': 'Esbjerg'}, lon=8.4111246, lat=55.4894416)
5 Node(id=26010207, version=7, changeset=28356049, timestamp=1422038401, uid=2184056, tags={'source': 'AWS Web API', 'addr:city': 'København Ø', 'addr:street': 'Kroghsgade', 'addr:country': 'DK', 'addr:postcode': '2100', 'osak:house_no': '5', 'osak:revision': '2002-04-05T12:00:00', 'osak:street_no': '3980', 'osak:identifier': '0A3F507AAF2932B8E0440003BA298018', 'addr:housenumber': '5', 'osak:street_name': 'Kroghsgade', 'osak:municipality_no': '101', 'osak:municipality_name': 'København'}, lon=12.574441, lat=55.696509)
6 Node(id=30374140, version=3, changeset=40601964, timestamp=1468016810, uid=648705, tags={'name': 'Ingo, Storegade', 'amenity': 'fuel', 'addr:city': 'Esbjerg', 'addr:street': 'Storegade', 'addr:postcode': '6700', 'opening_hours': '24/7', 'addr:housenumber': '28'}, lon=8.4661188, lat=55.4714525)
7 Node(id=60567984, version=12, changeset=31558452, timestamp=1432893895, uid=11533, tags={'name': 'Meny', 'shop': 'supermarket', 'addr:city': 'Odense M', 'wheelchair': 'yes', 'addr:street': 'Hjallesevej', 'addr:postcode': '5230', 'opening_hours': '08:00-22:00', 'addr:housenumber': '130'}, lon=10.3963852, lat=55.3806611)
8 Node(id=111546867, version=6, changeset=47658035, timestamp=1491918631, uid=2051, tags={'addr:city': 'Odense NV', 'addr:housenumber': '1', 'addr:postcode': '5210', 'addr:street': 'Tarupgårdsvej', 'amenity': 'school', 'name': 'Tarup Skole', 'phone': '+4563753100', 'website': 'http://tarupskole.skoleporten.dk'}, lon=10.3502187, lat=55.4092361)
9 Node(id=126579932, version=3, changeset=32712277, timestamp=1437199734, uid=413282, tags={'name': 'Shell', 'amenity': 'fuel', 'addr:city': 'Valby', 'addr:street': 'Vigerslevvej', 'addr:postcode': '2500', 'addr:housenumber': '229'}, lon=12.4877456, lat=55.6540601)
10 Node(id=245455089, version=17, changeset=49581575, timestamp=1497598587, uid=243145, tags={'addr:city': 'Odense M', 'addr:country': 'DK', 'addr:housenumber': '150', 'addr:postcode': '5230', 'addr:street': 'Niels Bohrs Allé', 'alt_name': 'Bilka Odense', 'name': 'Bilka', 'opening_hours': 'Mo-Su 06:00-23:59', 'shop': 'supermarket', 'website': 'https://www.bilka.dk/kundeservice/find-din-bilka/odense-m/bilka-odense', 'wheelchair': 'limited'}, lon=10.4312669, lat=55.3776985)
11 Node(id=247135588, version=8, changeset=28095080, timestamp=1421090335, uid=145231, tags={'name': 'INGO Aalborg', 'source': 'ingo.se', 'amenity': 'fuel', 'addr:street': 'Hobrovej', 'contact:city': 'AALBORG', 'addr:postcode': '9200', 'contact:street': 'Hobrovej 384 (Skalborg)', 'addr:housenumber': '384', 'contact:postcode': '9200'}, lon=9.8874609, lat=57.0105823)
12 Node(id=247135610, version=5, changeset=44451185, timestamp=1481904538, uid=413282, tags={'name': 'Ingo', 'source': 'survey 2016', 'amenity': 'fuel', 'addr:city': 'Hillerød', 'addr:street': 'Frejasvej', 'fuel:diesel': 'yes', 'addr:postcode': '3400', 'fuel:octane_92': 'yes', 'fuel:octane_95': 'yes', 'addr:housenumber': '25'}, lon=12.2873585, lat=55.9323892)
13 Node(id=252711108, version=7, changeset=41383678, timestamp=1470904218, uid=4355071, tags={'name': 'Shell/7 Eleven', 'amenity': 'fuel', 'name:en': 'Shell and 7-eleven', 'addr:street': 'Frederikssundsvej', 'addr:postcode': '2700', 'addr:housenumber': '356'}, lon=12.4672955, lat=55.7135251)

KeyboardInterrupt:

# Hov, generators? `yield`?

Actually, this is a really popular question with really many answers, which are so highly rated on Stackoverflow that we will have a look on them.

https://stackoverflow.com/questions/231767/what-does-the-yield-keyword-do

# At last...

After all this intro to NumPy, Pandas, and data preprocessing lets have a look on how to combine different datasets and use our skills to gain insight in data on Copenhagen.

Lets say we want to know if there is a relation between the amount of youngsters -people between 18 an 35- in various neighbourhoods of Copenhagen and the average square meter price in these neighbourhoods in a certain year.

First, we get the code of each neighbourhood, which is used by Copenhagen komune.

In [159]:
import numpy as np


df_kbh = pd.read_csv('/tmp/befkbhalderstatkode.csv')
mask = (df_kbh.AAR == 2015) & (df_kbh.ALDER >= 18) & (df_kbh.ALDER <= 35)

city_code = np.unique(df_kbh[mask].BYDEL)

Then we compute out of the komune data the amount of youngsters in each neighbourhood by summing up their amounts accross the different ages.

In [160]:
youngsters = df_kbh[mask].groupby(['BYDEL']).ALDER.sum()
youngsters

BYDEL
1     22248
2     27814
3     30619
4     27883
5     24346
6     19502
7     25572
8     30648
9     26197
10    28714
99    12003
Name: ALDER, dtype: int64

Now, we combine all the data about Copenhagen komune's neighbourhoods and the amount of youngsters into a single `DataFrame`.

In [162]:
neighbourhood_names = ['Indre By', 'Østerbro', 'Nørrebro', 
                       'Vesterbro/Kgs. Enghave', 'Valby', 
                       'Vanløse', 'Brønshøj-Husum', 'Bispebjerg', 
                       'Amager Øst', 'Amager Vest', 'Udenfor']
zip_codes_low = [1000, 2100, 2200, 1500, 2500, 2720, 2700, 2400, 
                 2300, 2770, np.NaN]
zip_codes_high = [1499, 2100, 2200, 1799, 2500, 2720, 2700, 2400, 
                  2300, 2770, np.NaN]
df_kbh = pd.DataFrame({'city_code': city_code, 
                   'neighbourhood': neighbourhood_names, 
                   'zip_code_low': zip_codes_low, 
                   'zip_code_high': zip_codes_high}, 
                   columns=['city_code', 'neighbourhood', 
                            'zip_code_low', 'zip_code_high'],
                   index=city_code
                 )

df_kbh = df_kbh.join(pd.DataFrame(youngsters))
df_kbh.rename(columns={'ALDER': 'no_youngsters'}, inplace=True)
df_kbh

,city_code,neighbourhood,zip_code_low,zip_code_high,no_youngsters
1,1,Indre By,1000.0,1499.0,22248
2,2,Østerbro,2100.0,2100.0,27814
3,3,Nørrebro,2200.0,2200.0,30619
4,4,Vesterbro/Kgs. Enghave,1500.0,1799.0,27883
5,5,Valby,2500.0,2500.0,24346
6,6,Vanløse,2720.0,2720.0,19502
7,7,Brønshøj-Husum,2700.0,2700.0,25572
8,8,Bispebjerg,2400.0,2400.0,30648
9,9,Amager Øst,2300.0,2300.0,26197
10,10,Amager Vest,2770.0,2770.0,28714
99,99,Udenfor,NaN,NaN,12003

In [163]:
df.head()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct,sell_year
0,"Ved Volden 5, 5. TV",1425 København K,4000000,23-05-2017,Alm. Salg,43956.0,3.0,Lejlighed,91.0,1938.0,0.0,2017
1,"Rådhusstræde 4C, 1",1466 København K,4895000,18-05-2017,Alm. Salg,46619.0,3.0,Lejlighed,105.0,1796.0,0.0,2017
2,"Store Kongensgade 112A, 3",1264 København K,250000,15-05-2017,Andet,1851.0,2.0,Lejlighed,135.0,1860.0,0.0,2017
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0,2017
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0,2017

In [167]:
df['zip_nr'] = [int(el.split(' ')[0]) for el in df['zip_code'].values]

In [169]:
df.head()

,address,zip_code,price,sell_date,sell_type,price_per_sq_m,no_rooms,housing_type,size_in_sq_m,year_of_construction,price_change_in_pct,sell_year,zip_nr
0,"Ved Volden 5, 5. TV",1425 København K,4000000,23-05-2017,Alm. Salg,43956.0,3.0,Lejlighed,91.0,1938.0,0.0,2017,1425
1,"Rådhusstræde 4C, 1",1466 København K,4895000,18-05-2017,Alm. Salg,46619.0,3.0,Lejlighed,105.0,1796.0,0.0,2017,1466
2,"Store Kongensgade 112A, 3",1264 København K,250000,15-05-2017,Andet,1851.0,2.0,Lejlighed,135.0,1860.0,0.0,2017,1264
3,"Amaliegade 13G, 2",1256 København K,7375000,15-05-2017,Alm. Salg,75255.0,3.0,Lejlighed,98.0,1948.0,9.0,2017,1256
4,"Borgergade 144, 3. TH",1300 København K,5825000,10-05-2017,Alm. Salg,57673.0,3.0,Lejlighed,101.0,1854.0,3.0,2017,1300

And now, we compute a list of the average price per square meter per neighbourhood.

In [170]:
mean_sqm_prices = []

for _, el in df_kbh[~df_kbh.zip_code_low.isnull()].iterrows():
    mask = ((df.zip_nr >= el.zip_code_low) & 
            (df.zip_nr <= el.zip_code_high))
    mean_sqm_prices.append(df[mask].price_per_sq_m.mean())
    
mean_sqm_prices

[32411.519463737684,
 27814.266051195973,
 25167.08723879083,
 28624.324043715846,
 22371.630665046014,
 20954.648322422257,
 19931.858544911458,
 22429.3771264067,
 24862.90452232246,
 17908.6389931207]

In [172]:
%matplotlib notebook


import matplotlib.pyplot as plt


plt.scatter(mean_sqm_prices, youngsters.values[:-1])

That looks already quite unrelated, no? Just to be sure we compute the Pearson number (https://en.wikipedia.org/wiki/Pearson_correlation_coefficient). Jens will tell you a lot more about it. However, it tells us to which degree and with which likelyhood our two features are correlated.

In [173]:
from scipy.stats import pearsonr


pearsonr(mean_sqm_prices, youngsters.values[:-1])

(-0.07623037404194892, 0.83421170166073244)

# Further Links:

  * https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python